@model Dictionary<string, IEnumerable<Raytha.Web.Areas.Admin.Views.EmailTemplates.EmailInsertVariableListItem_ViewModel>>
<style>
    .list-group-item {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>
<div data-controller="variables--insertvariable">
  <div class="offcanvas offcanvas-end" tabindex="-1" id="insertvariablemenu" aria-labelledby="insertvariablemenu">
    <div class="offcanvas-header">
      <h5 id="offcanvasRightLabel">Variables</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div class="list-group list-group-flush">
        <input data-variables--insertvariable-target="source" data-action="input->variables--insertvariable#filter"
          type="text" class="filter form-control" placeholder="Filter variables" />
        <button class="btn btn-sm btn-secondary my-2 d-none" type="button"
          data-variables--insertvariable-target="copyAllToClipboard"
          data-action="click->variables--insertvariable#copyAllToClipboard">Copy to
          clipboard</button>
        <div class="toast align-items-center text-white bg-success border-0" role="alert" aria-live="assertive"
          aria-atomic="true" data-variables--insertvariable-target="toast">
          <div class="d-flex">
            <div class="toast-body">
              Successfully copied to the clipboard!
            </div>
            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
        </div>
        @foreach(var contentType in Model)
        {
            <label class="list-group-item" data-section="@contentType.Key">@contentType.Key</label>
            foreach(var variable in contentType.Value)
            {
                <label class="list-group-item" data-variables--insertvariable-target="filterable" data-filter-key="@variable.DeveloperName"
                       data-section-item="@contentType.Key">
                    <input class="form-check-input me-1" type="checkbox" value="@variable.TemplateVariable"
                    data-variables--insertvariable-target="variableCheckbox"
                    data-action="change->variables--insertvariable#selectVariable">
                    @variable.DeveloperName
                </label>
            }
        }
      </div>
    </div>
  </div>
</div>