@using Raytha.Web.Areas.Admin.Views.EmailTemplates
@model Raytha.Web.Areas.Admin.Views.EmailTemplates.EmailTemplatesEdit_ViewModel
@{
    ViewData["Title"] = "Email templates > Edit template";
    ViewData["ActiveSubMenu"] = "Edit";
}

@(await Html.PartialAsync("_PageHeader", new PageHeader_ViewModel
{
    Title = ViewData["Title"].ToString(),
}))

<div class="row mb-4" data-controller="templates--codehighlighting">
    <div class="col-xxl-7 col-xl-8 col-lg-9 col-md-12">
        <div class="card border-0 shadow mb-4">
            <div class="card-body">
                @(await Html.PartialAsync("_BackToList", "emailtemplatesindex"))
                <form asp-route="emailtemplatesedit" method="post" class="py-4">
                    <div class="col-lg-12">
                        <div class="mb-3">
                            <label class="form-label raytha-required" asp-for="Subject"></label>
                            <input type="text" class="form-control @Model.HasError("Label")" asp-for="Subject" required>
                            <div class="invalid-feedback">@Model.ErrorMessageFor("Label")</div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="mb-3">
                            <label class="form-label" asp-for="DeveloperName"></label>
                            <input type="text" class="form-control @Model.HasError("DeveloperName")" asp-for="DeveloperName" readonly>
                            <div class="invalid-feedback">@Model.ErrorMessageFor("DeveloperName")</div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="mb-3">
                            <label class="form-label" asp-for="Content"></label><br/>
                            <button class="btn btn-sm btn-secondary mb-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#insertvariablemenu" aria-controls="insertvariablemenu">Insert variable</button>
                            <div class="@Model.HasError("Content")" id="editorContainer" style="height:500px;" data-templates--codehighlighting-target="editor"></div>
                            <input type="hidden" asp-for="Content" data-templates--codehighlighting-target="textarea" />
                            <div class="invalid-feedback">@Model.ErrorMessageFor("Content")</div>
                            <div id="uploadAssets"
                                 data-controller="templates--uploadasset"
                                 data-templates--uploadasset-fieldid-value="uploadAssets"
                                 data-templates--uploadasset-mimetypes-value="@Model.AllowedMimeTypes"
                                 data-templates--uploadasset-usedirectuploadtocloud-value="@Model.UseDirectUploadToCloud"
                                 data-templates--uploadasset-maxfilesize-value="@Model.MaxFileSize" ,
                                 data-templates--uploadasset-pathbase-value="@Model.PathBase">

                                <div id="uploadAssets-uppy" data-templates--uploadasset-target="uppyContainer"></div>
                                <div>
                                    <div class="toast align-items-center text-white bg-success border-0" role="alert" aria-live="assertive"
                                         aria-atomic="true" data-templates--uploadasset-target="toast">
                                        <div class="d-flex">
                                            <div class="toast-body">
                                                Successfully copied to the clipboard!
                                            </div>
                                            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                                        </div>
                                    </div>
                                    <ul id="uploadAssets-uppy-copyurls" class="list-group" data-templates--uploadasset-target="uppyCopyUrls">
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" asp-for="Id">
                    <button type="submit" class="btn btn-success mt-4">Publish changes</button>
                </form>
            </div>
        </div>
    </div>
    @(await Html.PartialAsync("~/Areas/Admin/Views/EmailTemplates/_ActionsMenu.cshtml", new EmailTemplateActionsMenu_ViewModel
    {
        Id = Model.Id
    }))
</div>
<partial name="_InsertVariableMenu.cshtml" model="Model.TemplateVariables" />