@page "/raytha/email-templates"
@model Raytha.Web.Areas.Admin.Pages.EmailTemplates.Index

@{
    var pageTitle = "Email templates";
    Layout = "SidebarLayout";
    ViewData["Title"] = pageTitle;
    ViewData["ActiveMenu"] = "Email Templates";
}

<div>
    @Html.Partial("_Partials/PageHeading", pageTitle)

    <div class="raytha-data-card mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-centered table-nowrap mb-0 rounded">
                <thead class="thead-light">
                    <tr>
                        @(await Html.PartialAsync("_Partials/TableColumnHeader", new BaseTableColumnHeaderViewModel()
                        {
                            Pagination = Model.ListView,
                            PropertyName = "Subject",
                            IsFirst = true,
                            DisplayName = ViewModelExtensions.GetDisplayName<Index.EmailTemplatesListItemViewModel>(p =>
                            p.Subject)
                        }))
                        @(await Html.PartialAsync("_Partials/TableColumnHeader", new BaseTableColumnHeaderViewModel()
                        {
                            Pagination = Model.ListView,
                            PropertyName = "DeveloperName",
                            DisplayName = ViewModelExtensions.GetDisplayName<Index.EmailTemplatesListItemViewModel>(p =>
                            p.DeveloperName)
                        }))
                        @(await Html.PartialAsync("_Partials/TableColumnHeader", new BaseTableColumnHeaderViewModel()
                        {
                            Pagination = Model.ListView,
                            PropertyName = "LastModificationTime",
                            DisplayName = ViewModelExtensions.GetDisplayName<Index.EmailTemplatesListItemViewModel>(p =>
                            p.LastModificationTime)
                        }))
                        <th class="border-0">
                            Last modified by
                        </th>
                        <th class="border-0 rounded-end">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListView.Items)
                    {
                        <tr>
                            <td>@item.Subject</td>
                            <td>@item.DeveloperName</td>
                            <td>@item.LastModificationTime</td>
                            <td>@item.LastModifierUser</td>
                            <td><a asp-page="@RouteNames.EmailTemplates.Edit" asp-route-id="@item.Id">Edit</a></td>
                        </tr>
                    }
                </tbody>
            </table>
            <partial name="_Partials/TablePagination" model="@Model.ListView" />
        </div>
    </div>
    </div>
</div>
