@page "/raytha/functions"
@model Raytha.Web.Areas.Admin.Pages.RaythaFunctions.Index

@{
    var pageTitle = "Raytha Functions";
    Layout = "SidebarLayout";
    ViewData["Title"] = pageTitle;
    ViewData["ActiveMenu"] = "Raytha Functions";
}

<partial name="_Partials/PageHeading" model="pageTitle" />
@(await Html.PartialAsync("_Partials/TableCreateAndSearchBar", new BaseTableCreateAndSearchBarViewModel()
{
    Pagination = Model.ListView,
    EntityName = "function",
    CreateActionName = "/RaythaFunctions/Create",
}))

<div class="raytha-data-card mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-centered table-nowrap mb-0 rounded">
                <thead class="thead-light">
                    <tr>
                        @(await Html.PartialAsync("_Partials/TableColumnHeader", new BaseTableColumnHeaderViewModel()
                        {
                            Pagination = Model.ListView,
                            PropertyName = "Name",
                            IsFirst = true,
                            DisplayName = ViewModelExtensions.GetDisplayName<Index.RaythaFunctionsListItemViewModel>(p =>
                            p.Name)
                        }))
                        @(await Html.PartialAsync("_Partials/TableColumnHeader", new BaseTableColumnHeaderViewModel()
                        {
                            Pagination = Model.ListView,
                            PropertyName = "DeveloperName",
                            DisplayName = ViewModelExtensions.GetDisplayName<Index.RaythaFunctionsListItemViewModel>(p =>
                            p.DeveloperName)
                        }))
                        @(await Html.PartialAsync("_Partials/TableColumnHeader", new BaseTableColumnHeaderViewModel()
                        {
                            Pagination = Model.ListView,
                            PropertyName = "TriggerType",
                            DisplayName = ViewModelExtensions.GetDisplayName<Index.RaythaFunctionsListItemViewModel>(p =>
                            p.TriggerType)
                        }))
                        @(await Html.PartialAsync("_Partials/TableColumnHeader", new BaseTableColumnHeaderViewModel()
                        {
                            Pagination = Model.ListView,
                            PropertyName = "LastModificationTime",
                            DisplayName = ViewModelExtensions.GetDisplayName<Index.RaythaFunctionsListItemViewModel>(p =>
                            p.LastModificationTime)
                        }))
                        <th class="border-0">
                            Last modified by
                        </th>
                        @(await Html.PartialAsync("_Partials/TableColumnHeader", new BaseTableColumnHeaderViewModel()
                        {
                            Pagination = Model.ListView,
                            PropertyName = "IsActive",
                            DisplayName = ViewModelExtensions.GetDisplayName<Index.RaythaFunctionsListItemViewModel>(p =>
                            p.IsActive)
                        }))
                        <th class="border-0 rounded-end">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListView.Items)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.DeveloperName</td>
                            <td>@item.TriggerType</td>
                            <td>@item.LastModificationTime</td>
                            <td>@item.LastModifierUser</td>
                            <td>@item.IsActive</td>
                            <td><a asp-page="@RouteNames.RaythaFunctions.Edit" asp-route-id="@item.Id">Edit</a></td>
                        </tr>
                    }
                </tbody>
            </table>
            <partial name="_Partials/TablePagination" model="@Model.ListView" />
        </div>
    </div>
</div>