@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Raytha.Web.Areas.Shared.Models.IPaginationViewModel

@{
    Layout = null;
}

@if (Model.TotalPages > 0)
{
    <nav aria-label="page navigation" class="py-4">
        @if (Model.TotalCount == 1)
        {
            <p>@Model.TotalCount result</p>
        }
        else
        {
            <p>@Model.TotalCount results</p>
        }
        <ul class="pagination">
            <li class="page-item @Model.PreviousDisabledCss">
                <a asp-page="@Model.PageName" asp-route-search="@Model.Search" asp-route-orderBy="@Model.OrderByAsString"
                    asp-route-pageNumber="@(Model.PageNumber - 1)" asp-route-pageSize="@Model.PageSize" class="page-link">
                    <svg class="icon icon-sm" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M11 19l-7-7 7-7m8 14l-7-7 7-7"></path>
                    </svg>
                </a>
            </li>

            <li class="page-item @Model.NextDisabledCss">
                <a asp-page="@Model.PageName" asp-route-search="@Model.Search" asp-route-orderBy="@Model.OrderByAsString"
                    asp-route-pageNumber="@(Model.PageNumber + 1)" asp-route-pageSize="@Model.PageSize" class="page-link">
                    <svg class="icon icon-sm" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
                    </svg>
                </a>
            </li>

            @if (Model.FirstVisiblePageNumber > 1)
            {
                <li class="page-item disabled"><a class="page-link">...</a></li>
            }

            @for (var i = Model.FirstVisiblePageNumber; i <= Model.LastVisiblePageNumber; i++)
            {
                <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                    <a asp-page="@Model.PageName" asp-route-search="@Model.Search" asp-route-orderBy="@Model.OrderByAsString"
                        asp-route-pageNumber="@i" asp-route-pageSize="@Model.PageSize" class="page-link">
                        @i
                    </a>
                </li>
            }

            @if (Model.LastVisiblePageNumber < Model.TotalPages)
            {
                <li class="page-item disabled"><a class="page-link">...</a></li>
            }

            <li class="page-item @Model.NextDisabledCss">
                <a asp-page="@Model.PageName" asp-route-search="@Model.Search" asp-route-orderBy="@Model.OrderByAsString"
                    asp-route-pageNumber="@(Model.PageNumber + 1)" asp-route-pageSize="@Model.PageSize" class="page-link">
                    <svg class="icon icon-sm" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                    </svg>
                </a>
            </li>

            <li class="page-item @Model.NextDisabledCss">
                <a asp-page="@Model.PageName" asp-route-search="@Model.Search" asp-route-orderBy="@Model.OrderByAsString"
                    asp-route-pageNumber="@Model.TotalPages" asp-route-pageSize="@Model.PageSize" class="page-link">
                    <svg class="icon icon-sm" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5l7 7-7 7M5 5l7 7-7 7">
                        </path>
                    </svg>
                </a>
            </li>
        </ul>
    </nav>
}