@model Raytha.Web.Areas.Shared.Models.BaseTableColumnHeaderViewModel

@{
    Layout = null;
}

<th class="border-0 @( Model.IsFirst ? "rounded-start" : string.Empty ) @( Model.IsLast ? "rounded-end" : string.Empty )">
    <a asp-page="@Model.Pagination.PageName" asp-route-search="@Model.Pagination.Search" asp-route-orderBy="@(Model.OrderBy)"
       asp-route-pageNumber="@Model.Pagination.PageNumber" asp-route-pageSize="@Model.Pagination.PageSize">
        @Model.DisplayName
        @if (!Model.IsCurrentlySorting)
        {
            <svg class="icon icon-xs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 9l4-4 4 4m0 6l-4 4-4-4"></path></svg>
        }
        else if (Model.Pagination.OrderByDirection == "desc")
        {
            <svg class="icon icon-xs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>
        }
        else
        {
            <svg class="icon icon-xs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7"></path></svg>
        }
    </a>
</th>