@page "/raytha/{contentTypeDeveloperName}/fields/reorder"
@using Microsoft.AspNetCore.Routing
@using Raytha.Web.Areas.Admin.Pages.Shared.Models
@model Raytha.Web.Areas.Admin.Pages.ContentTypes.Fields.Reorder

@{
    var pageTitle = $"{Model.CurrentView.ContentType.LabelPlural} > Fields > Reorder";
    Layout = "SidebarLayout";
    ViewData["Title"] = pageTitle;
    ViewData["ActiveMenu"] = Model.CurrentView.ContentType.DeveloperName;

    var back = new BackLinkOptions
    {
        Page = RouteNames.ContentTypes.Fields.Index,
        RouteValues = new RouteValueDictionary
        {
            ["contentTypeDeveloperName"] = Model.CurrentView.ContentType.DeveloperName
        },
        Text = "Back to fields"
    };
}

<partial name="_Partials/PageHeading" model='ViewData["Title"]' />

<div class="row mb-4">
    <div class="col-xxl-7 col-xl-8 col-lg-9 col-md-12">
        <div class="card border-0 shadow mb-4">
            <div class="card-body">
                @(await Html.PartialAsync("_Partials/BackToList", back))

                <ul data-sortable-list class="list-group mt-4">
                    @foreach (var item in Model.ListView.Items)
                    {
                        <li data-sortable-update-url="@Url.Page(RouteNames.ContentTypes.Fields.Reorder, "Ajax", new { contentTypeDeveloperName = Model.CurrentView.ContentType.DeveloperName, id = item.Id })"
                            class="list-group-item border raytha-draggable d-flex justify-content-between">
                            <div>
                                @item.Label <small>@item.DeveloperName</small>
                            </div>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="icon icon-xs me-2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 9h16.5m-16.5 6.75h16.5" />
                            </svg>
                        </li>
                    }
                    @Html.AntiForgeryToken()
                </ul>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
    <script type="module" defer src="~/js/pages/content-types/fields-reorder.js"></script>
}