@model List_ViewModel<UsersListItem_ViewModel>
@{
    ViewData["Title"] = "Users";
}

@(await Html.PartialAsync("_PageHeader", new PageHeader_ViewModel
{
    Title = ViewData["Title"].ToString(),
}))

<ul class="nav nav-tabs">
  <li class="nav-item">
        <a class="nav-link active" aria-current="page" asp-route="usersindex">
        <svg class="icon icon-xs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z"></path></svg>
        Users</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" asp-route="usergroupsindex">
        <svg class="icon icon-xs" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" d="M18 18.72a9.094 9.094 0 003.741-.479 3 3 0 00-4.682-2.72m.94 3.198l.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0112 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 016 18.719m12 0a5.971 5.971 0 00-.941-3.197m0 0A5.995 5.995 0 0012 12.75a5.995 5.995 0 00-5.058 2.772m0 0a3 3 0 00-4.681 2.72 8.986 8.986 0 003.74.477m.94-3.197a5.971 5.971 0 00-.94 3.197M15 6.75a3 3 0 11-6 0 3 3 0 016 0zm6 3a2.25 2.25 0 11-4.5 0 2.25 2.25 0 014.5 0zm-13.5 0a2.25 2.25 0 11-4.5 0 2.25 2.25 0 014.5 0z" />
        </svg>

        User Groups</a>
  </li>
</ul>

@(await Html.PartialAsync("_TableCreateAndSearchBar", new TableCreateAndSearchBar_ViewModel()
{
    Model = Model,
    EntityName = "user",
    CreateActionName = "userscreate"
}))

<div class="raytha-data-card mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-centered table-nowrap mb-0 rounded">
                <thead class="thead-light">
                    <tr>
                        @(await Html.PartialAsync("_TableColumnHeader", new TableColumnHeader_ViewModel() 
                        { 
                            Model = Model,
                            PropertyName = "FirstName", 
                            IsFirst = true, 
                            DisplayName = ViewModelExtensions.GetDisplayName<AdminsListItem_ViewModel>(p => p.FirstName) 
                        }))
                        @(await Html.PartialAsync("_TableColumnHeader", new TableColumnHeader_ViewModel()
                        {
                            Model = Model,
                            PropertyName = "LastName",
                            DisplayName = ViewModelExtensions.GetDisplayName<AdminsListItem_ViewModel>(p => p.LastName)
                        }))
                        @(await Html.PartialAsync("_TableColumnHeader", new TableColumnHeader_ViewModel()
                        {
                            Model = Model,
                            PropertyName = "EmailAddress",
                            DisplayName = ViewModelExtensions.GetDisplayName<AdminsListItem_ViewModel>(p => p.EmailAddress)
                        }))
                        @(await Html.PartialAsync("_TableColumnHeader", new TableColumnHeader_ViewModel()
                        {
                            Model = Model,
                            PropertyName = "CreationTime",
                            DisplayName = ViewModelExtensions.GetDisplayName<AdminsListItem_ViewModel>(p => p.CreationTime)
                        }))
                        @(await Html.PartialAsync("_TableColumnHeader", new TableColumnHeader_ViewModel()
                        {
                            Model = Model,
                            PropertyName = "LastLoggedInTime",
                            DisplayName = ViewModelExtensions.GetDisplayName<AdminsListItem_ViewModel>(p => p.LastLoggedInTime)
                        }))
                        @(await Html.PartialAsync("_TableColumnHeader", new TableColumnHeader_ViewModel()
                        {
                            Model = Model,
                            PropertyName = "IsActive",
                            DisplayName = ViewModelExtensions.GetDisplayName<AdminsListItem_ViewModel>(p => p.IsActive)
                        }))
                        <th class="border-0">
                            User Groups
                        </th>
                        <th class="border-0 rounded-end">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <td>@item.FirstName</td>
                            <td>@item.LastName</td>
                            <td>@item.EmailAddress</td>
                            <td>@item.CreationTime</td>
                            <td>@item.LastLoggedInTime</td>
                            <td>@item.IsActive</td>
                            <td>@item.UserGroups</td>
                            <td><a asp-route="usersedit" asp-route-id="@item.Id">Edit</a></td>
                        </tr>
                    }
                </tbody>
            </table>
            <partial name="_TablePagination" model="@Model" />
        </div>
    </div>
</div>