<p>Hello {{ Target.FirstName }},</p>

<p>Your password has been reset by an administrator of
  <a href="{{ CurrentOrganization.WebsiteUrl }}">{{ CurrentOrganization.WebsiteUrl }}</a>
</p>

<p>Login with the credentials below:
</p>

<p>Email address: {{ Target.EmailAddress }} <br/>
  Password: {{ Target.NewPassword }}</p>

<p>Thank you,<br/>
  {{ CurrentOrganization.OrganizationName }}</p>