<h3>Change profile</h3>
{% if Target.ValidationFailures["__ValidationSummary"] %}
  <div class="alert alert-danger">
    {{ Target.ValidationFailures["__ValidationSummary"] }}
  </div>
{% elsif Target.SuccessMessage %}
  <div class="alert alert-success">
    {{ Target.SuccessMessage }}
  </div>
{% endif %}
<form
  action="{{ PathBase }}/account/me"
  method="post">
  <div class="mb-3">
    <label for="firstname" class="form-label">First name</label>
    <input
      id="firstname"
      type="text"
      name="FirstName"
      value="{{ CurrentUser.FirstName }}"
      class="form-control {% if Target.ValidationFailures["FirstName"] %}is-invalid{% endif %}">
    {% if Target.ValidationFailures["FirstName"] %}
      <div class="invalid-feedback">{{ Target.ValidationFailures["FirstName"] }}</div>
    {% endif %}
  </div>
  <div class="mb-3">
    <label for="lastname" class="form-label">Last name</label>
    <input
      id="lastname"
      type="text"
      name="LastName"
      value="{{ CurrentUser.LastName }}"
      class="form-control {% if Target.ValidationFailures["LastName"] %}is-invalid{% endif %}">
    {% if Target.ValidationFailures["LastName"] %}
      <div class="invalid-feedback">{{ Target.ValidationFailures["LastName"] }}</div>
    {% endif %}
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input
      id="email"
      type="email"
      name="EmailAddress"
      value="{{ CurrentUser.EmailAddress }}"
      class="form-control-plaintext"
      readonly="">
  </div>
  <div class="mb-3">
    <button type="submit" class="btn btn-primary w-100">Save changes</button>
  </div>
  <input
    name="__RequestVerificationToken"
    type="hidden"
    value="{{ Target.RequestVerificationToken }}" />
</form>