<h3>Login</h3>
{% if Target.ValidationFailures["__ValidationSummary"] %}
  <div class="alert alert-danger">
    {{ Target.ValidationFailures["__ValidationSummary"] }}
  </div>
{% endif %}
<form
  action="{{ PathBase }}/account/login?returnUrl={{ Target.ReturnUrl }}"
  method="post">
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input
      id="email"
      type="email"
      name="EmailAddress"
      class="form-control">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input
      id="password"
      type="password"
      name="Password"
      class="form-control">
  </div>
  <div class="mb-3">
    <button type="submit" class="btn btn-primary w-100">Login</button>
  </div>
  <input
    name="__RequestVerificationToken"
    type="hidden"
    value="{{ Target.RequestVerificationToken }}" />
</form>
<a class="link-secondary" href="{{ PathBase }}/account/login/forgot-password/begin">
  Forgot password?
</a>
<p class="mt-2">
  No account?
  <a href="{{ PathBase }}/account/create">
    Sign up
  </a>
</p>
{% if Target.ShowOrLoginWithSection %}
  <div class="pt-2">
    <p class="lead">or login with</p>
    <ul class="list-group list-group-flush">
      {% if Target.HasLoginByMagicLink %}
        <a href="{{ PathBase }}/account/login/magic-link" class="btn btn-secondary my-2">
          {{ Target.MagicLink.LoginButtonText }}
        </a>
      {% endif %}
      {% if Target.HasLoginBySingleSignOn %}
        {% for sso in Target.SingleSignOns %}
          <a href="{{ PathBase }}/account/login/sso/{{ sso.DeveloperName }}" class="btn btn-secondary my-2">
            {{ sso.LoginButtonText }}
          </a>
        {% endfor %}
      {% endif %}
    </ul>
  </div>
{% endif %}


