<p>Hello {{ Target.FirstName }},</p>

<p>You are receiving this email because you requested a password recovery for
  <a href="{{ CurrentOrganization.WebsiteUrl }}">{{ CurrentOrganization.WebsiteUrl }}</a>
</p>

<p>To complete the password reset, please visit the link below:</p>

<p>
  <a href="{{ Target.ForgotPasswordCompleteUrl }}">{{ Target.ForgotPasswordCompleteUrl }}</a>
</p>

<p>The link expires after 15 minutes.</p>

<p>Thank you,<br/>
  {{ CurrentOrganization.OrganizationName }}</p>