<div class="container">
  <div class="d-flex justify-content-center">
    <div class="col-lg-8">
      <h3>{{ Target.Label }}</h3>
      {% for item in Target.Items %}
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">{{ item.PrimaryField }}</h3>
          <div class="mb-1 text-body-secondary">{{ item.CreationTime | organization_time: "%b %e %Y, %l:%M:%S %P" }}</div>
          <p class="card-text">{{ item.PublishedContent.content | strip_html | truncate: 280, "..." }}</p>
          <a href="{{ PathBase }}/{{ item.RoutePath }}" class="icon-link gap-1 icon-link-hover stretched-link">
            Continue reading
          </a>
        </div>
        <!-- Uncomment if you wish to add thumbnail images
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img"
            aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c"></rect><text x="30%" y="50%" fill="#eceeef"
              dy=".3em">Thumbnail</text>
          </svg>
        </div>
        -->
      </div>
      <hr />
      {% endfor %}
      <nav aria-label="page navigation" class="py-4">
        {% if Target.TotalCount == 1 %}
        <p>{{ Target.TotalCount }} result</p>
        {% else %}
        <p>{{ Target.TotalCount }} results</p>
        {% endif %}
        <ul class="pagination">
          <li class="page-item {% if Target.PreviousDisabledCss %}disabled{% endif %}">
            <a href="{{ PathBase }}/{{ Target.RoutePath }}?pageNumber={{ Target.PageNumber | minus: 1 }}"
              class="page-link">
              «
            </a>
          </li>
          {% if Target.FirstVisiblePageNumber > 1 %}
          <li class="page-item disabled">
            <a class="page-link">...</a>
          </li>
          {% endif %}
          {% for i in (Target.FirstVisiblePageNumber..Target.LastVisiblePageNumber) %}
          <li class="page-item {% if Target.PageNumber == i %}active{% endif %}">
            <a href="{{ PathBase }}/{{ Target.RoutePath }}?pageNumber={{ i }}" class="page-link">{{ i }}</a>
          </li>
          {% endfor %}

          {% if Target.LastVisiblePageNumber < Target.TotalPages %} <li class="page-item disabled">
            <a class="page-link">...</a>
            </li>
            {% endif %}
            <li class="page-item {% if Target.NextDisabledCss %}disabled{% endif %}">
              <a href="{{ PathBase }}/{{ Target.RoutePath }}?pageNumber={{ Target.PageNumber | plus: 1 }}"
                class="page-link">
                »
              </a>
            </li>
        </ul>
      </nav>
    </div>
  </div>
</div>