<div class="ud-login-logo">
  <h3>Create account</h3>
</div>
{% if Target.ValidationFailures["__ValidationSummary"] %}
  <div class="alert alert-danger">
    {{ Target.ValidationFailures["__ValidationSummary"] }}
  </div>
{% elsif Target.SuccessMessage %}
  <div class="alert alert-success">
    {{ Target.SuccessMessage }}
  </div>
{% endif %}
<form
  class="ud-login-form"
  action="{{ PathBase }}/account/create"
  method="post">
  <div class="ud-form-group">
    <label for="firstname" class="form-label">First name</label>
    <input
      id="firstname"
      type="text"
      name="FirstName"
      value="{{ Target.FirstName }}"
      {% if Target.ValidationFailures["FirstName"] %}class="is-invalid"{% endif %}>
    {% if Target.ValidationFailures["FirstName"] %}
      <div class="invalid-feedback">{{ Target.ValidationFailures["FirstName"] }}</div>
    {% endif %}

  </div>
  <div class="ud-form-group">
    <label for="lastname" class="form-label">Last name</label>
    <input
      id="lastname"
      type="text"
      name="LastName"
      value="{{ Target.LastName }}"
      {% if Target.ValidationFailures["LastName"] %}class="is-invalid"{% endif %}>
    {% if Target.ValidationFailures["LastName"] %}
      <div class="invalid-feedback">{{ Target.ValidationFailures["LastName"] }}</div>
    {% endif %}
  </div>
  <div class="ud-form-group">
    <label for="email" class="form-label">Email address</label>
    <input
      id="email"
      type="email"
      name="EmailAddress"
      value="{{ Target.EmailAddress }}">
  </div>
  <div class="ud-form-group">
    <label for="password" class="form-label">Password</label>
    <input
      id="password"
      type="password"
      name="Password"
      {% if Target.ValidationFailures["Password"] %}class="is-invalid"{% endif %}>
    {% if Target.ValidationFailures["Password"] %}
      <div class="invalid-feedback">{{ Target.ValidationFailures["Password"] }}</div>
    {% else %}
      <div class="form-text">Password must be at least 8 characters.</div>
    {% endif %}
  </div>
  <div class="ud-form-group">
    <label for="confirmpassword" class="form-label">Confirm password</label>
    <input
      id="confirmpassword"
      type="password"
      name="ConfirmPassword"
      {% if Target.ValidationFailures["ConfirmPassword"] %}class="is-invalid"{% endif %}>
    {% if Target.ValidationFailures["ConfirmPassword"] %}
      <div class="invalid-feedback">{{ Target.ValidationFailures["ConfirmPassword"] }}</div>
    {% else %}
      <div class="form-text">Password must match the above.</div>
    {% endif %}
  </div>
  <div class="ud-form-group">
    <button type="submit" class="ud-main-btn w-100">Save changes</button>
  </div>
  <input
    name="__RequestVerificationToken"
    type="hidden"
    value="{{ Target.RequestVerificationToken }}" />
</form>