<div class="ud-login-logo">
  <h3>Complete forgot password</h3>
</div>
{% if Target.ValidationFailures["__ValidationSummary"] %}
  <div class="alert alert-danger">
    {{ Target.ValidationFailures["__ValidationSummary"] }}
  </div>
{% endif %}
<form
  class="ud-login-form"
  action="{{ PathBase }}/account/login/forgot-password/complete/{{ Target.Token }}"
  method="post">
  <div class="ud-form-group">
    <label for="newpassword" class="form-label">New password</label>
    <input
      id="newpassword"
      type="password"
      name="NewPassword"
      {% if Target.ValidationFailures["NewPassword"] %}class="is-invalid"{% endif %}>
    {% if Target.ValidationFailures["NewPassword"] %}
      <div class="invalid-feedback">{{ Target.ValidationFailures["NewPassword"] }}</div>
    {% else %}
      <div class="form-text">Password must be at least 8 characters.</div>
    {% endif %}
  </div>
  <div class="ud-form-group">
    <label for="confirmpassword" class="form-label">Confirm new password</label>
    <input
      id="confirmpassword"
      type="password"
      name="ConfirmNewPassword"
      {% if Target.ValidationFailures["ConfirmNewPassword"] %}class="is-invalid"{% endif %}>
    {% if Target.ValidationFailures["ConfirmNewPassword"] %}
      <div class="invalid-feedback">{{ Target.ValidationFailures["ConfirmNewPassword"] }}</div>
    {% else %}
      <div class="form-text">Password must match the above.</div>
    {% endif %}
  </div>
  <div class="ud-form-group">
    <button type="submit" class="ud-main-btn w-100">Save changes</button>
  </div>
  <input
    name="__RequestVerificationToken"
    type="hidden"
    value="{{ Target.RequestVerificationToken }}" />
</form>