<h3>Change password</h3>
{% if Target.ValidationFailures["__ValidationSummary"] %}
  <div class="alert alert-danger">
    {{ Target.ValidationFailures["__ValidationSummary"] }}
  </div>
{% elsif Target.SuccessMessage %}
  <div class="alert alert-success">
    {{ Target.SuccessMessage }}
  </div>
{% endif %}
<form
  action="{{ PathBase }}/account/me/change-password"
  method="post">
  <div class="mb-3">
    <label class="form-label">Current password</label>
    <input
      id="currentpassword"
      type="password"
      name="CurrentPassword"
      class="form-control {% if Target.ValidationFailures["CurrentPassword"] %}is-invalid{% endif %}">
    {% if Target.ValidationFailures["CurrentPassword"] %}
    <div class="invalid-feedback">{{ Target.ValidationFailures["CurrentPassword"] }}</div>
    {% endif %}
  </div>
  <div class="mb-3">
    <label class="form-label">New password</label>
    <input
      id="newpassword"
      type="password"
      name="NewPassword"
      class="form-control {% if Target.ValidationFailures["NewPassword"] %}is-invalid{% endif %}">
    {% if Target.ValidationFailures["NewPassword"] %}
    <div class="invalid-feedback">{{ Target.ValidationFailures["NewPassword"] }}</div>
    {% endif %}
  </div>
  <div class="mb-3">
    <label class="form-label">Confirm new password</label>
    <input
      id="confirmnewpassword"
      type="password"
      name="ConfirmNewPassword"
      class="form-control {% if Target.ValidationFailures["ConfirmNewPassword"] %}is-invalid{% endif %}">
    {% if Target.ValidationFailures["ConfirmNewPassword"] %}
    <div class="invalid-feedback">{{ Target.ValidationFailures["ConfirmNewPassword"] }}</div>
    {% else %}
    <div class="form-text">Password must match the above.</div>
    {% endif %}
  </div>
  <div class="mb-3">
    <button type="submit" class="btn btn-primary w-100">Save changes</button>
  </div>
  <input
    name="__RequestVerificationToken"
    type="hidden"
    value="{{ Target.RequestVerificationToken }}" />
</form>