@page "/raytha/{contentTypeDeveloperName}/trash"
@using Raytha.Web.Areas.Admin.Pages.Shared.Models
@model Raytha.Web.Areas.Admin.Pages.ContentTypes.DeletedContentItemsList

@{
    var pageTitle = $"{Model.CurrentView.ContentType.LabelPlural} > Deleted content items";
    Layout = "SidebarLayout";
    ViewData["Title"] = pageTitle;
    ViewData["ActiveMenu"] = Model.CurrentView.ContentType.DeveloperName;
    
    var navModel = new ContentTypeNavModel
    {
        CurrentView = Model.CurrentView,
        ActiveTab = ContentTypeNavTab.DeletedItems
    };
    
    var searchConfig = new SearchBarConfig
    {
        ActionPage = Model.ListView.PageName,
        SearchValue = Model.ListView.Search,
        Placeholder = "Search deleted items"
    };
}

@await Html.PartialAsync("_Partials/PageHeading", ViewData["Title"])

@await Html.PartialAsync("_Partials/_ContentTypeNavTabs", navModel)

@await Html.PartialAsync("_Partials/_SearchBar", searchConfig)

<div class="raytha-data-card mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-centered table-nowrap mb-0 rounded">
                <thead class="thead-light">
                    <tr>
                        @(await Html.PartialAsync("_Partials/TableColumnHeader", new BaseTableColumnHeaderViewModel()
                        {
                            Pagination = Model.ListView,
                            PropertyName = "PrimaryField",
                            IsFirst = true,
                            DisplayName = ViewModelExtensions.GetDisplayName<Raytha.Web.Areas.Admin.Pages.ContentTypes.DeletedContentItemsList.DeletedContentItemsListItemViewModel>(p =>
                            p.PrimaryField)
                        }))
                        @(await Html.PartialAsync("_Partials/TableColumnHeader", new BaseTableColumnHeaderViewModel()
                        {
                            Pagination = Model.ListView,
                            PropertyName = "DeletionTime",
                            DisplayName = ViewModelExtensions.GetDisplayName<DeletedContentItemsList.DeletedContentItemsListItemViewModel>(p =>
                            p.DeletionTime)
                        }))
                        <th class="border-0">Deleted by</th>
                        <th class="border-0">Original id</th>
                        <th class="border-0 rounded-end">Restore</th>
                        <th class="border-0 rounded-end">Clear</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListView.Items)
                    {
                        <tr>
                            <td>@item.PrimaryField</td>
                            <td>@item.DeletionTime</td>
                            <td>@item.DeletedBy</td>
                            <td>@item.OriginalContentItemId</td>
                            <td>
                                <form method="post" asp-page="@RouteNames.ContentTypes.DeletedContentItemsRestore"
                                    asp-route-contentTypeDeveloperName="@Model.CurrentView.ContentType.DeveloperName"
                                    asp-route-id="@item.Id">
                                    <button class="btn btn-link btn-xs">
                                        <svg class="icon icon-xs" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                                        </svg>
                                    </button>
                                </form>
                            </td>
                            <td>
                                <form method="post" asp-page="@RouteNames.ContentTypes.DeletedContentItemsClear"
                                    asp-route-contentTypeDeveloperName="@Model.CurrentView.ContentType.DeveloperName"
                                    asp-route-id="@item.Id">
                                    <button class="text-danger btn btn-link btn-xs">
                                        <svg class="icon icon-sm mx-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16">
                                            </path>
                                        </svg>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <partial name="_Partials/TablePagination" model="@Model.ListView" />
        </div>
    </div>
</div>
