@page "/raytha/{contentTypeDeveloperName}/configuration"
@model Raytha.Web.Areas.Admin.Pages.ContentTypes.FieldsEdit

@{
    var pageTitle = $"{Model.CurrentView.ContentType.LabelPlural} > Configuration";
    Layout = "SidebarLayout";
    ViewData["Title"] = pageTitle;
    ViewData["ActiveMenu"] = Model.CurrentView.ContentType.DeveloperName;
}

@Html.Partial("_Partials/PageHeading", ViewData["Title"])

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" asp-route="contentitemsindex"
            asp-route-contentTypeDeveloperName="@Model.CurrentView.ContentType.DeveloperName"
            asp-route-viewId="@Model.CurrentView.Id"><svg class="icon icon-xs" fill="none" stroke="currentColor"
                viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M3 10h18M3 14h18m-9-4v8m-7 0h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z"></path>
            </svg> @Model.CurrentView.Label</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link active dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
            aria-expanded="false"><svg class="icon icon-xs" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z">
                </path>
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
            </svg> Settings <svg class="icon icon-xs" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                    clip-rule="evenodd"></path>
            </svg></a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" asp-route="contenttypesconfiguration"
                    asp-route-contentTypeDeveloperName="@Model.CurrentView.ContentType.DeveloperName"><svg
                        class="icon icon-xs" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z">
                        </path>
                    </svg> <strong>Configuration</strong></a></li>
            <li><a class="dropdown-item" asp-route="contenttypesfieldslist"
                    asp-route-contentTypeDeveloperName="@Model.CurrentView.ContentType.DeveloperName"><svg
                        class="icon icon-xs" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M8 9l3 3-3 3m5 0h3M5 20h14a2 2 0 002-2V6a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z">
                        </path>
                    </svg> Fields</a></li>
            <li><a class="dropdown-item" asp-route="contenttypesdeletedcontentitemslist"
                    asp-route-contentTypeDeveloperName="@Model.CurrentView.ContentType.DeveloperName"><svg
                        class="icon icon-xs" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16">
                        </path>
                    </svg> Deleted @Model.CurrentView.ContentType.LabelPlural.ToLower()</a></li>
        </ul>
    </li>
</ul>

<div class="row mb-4">
    <div class="col-xxl-7 col-xl-8 col-lg-9 col-md-12">
        <div class="card border-0 shadow mb-4">
            <div class="card-body">
                <form asp-page="/ContentTypes/Configuration" method="post" class="py-4" novalidate>
                    <div class="col-lg-12 col-md-12">
                        <div class="mb-3">
                            <label class="form-label raytha-required" asp-for="Form.LabelPlural"></label>
                            <input type="text" class="form-control @Model.HasError("LabelPlural")" asp-for="Form.LabelPlural"
                                required>
                            <div class="invalid-feedback">@Model.ErrorMessageFor("LabelPlural")</div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <div class="mb-3">
                            <label class="form-label raytha-required" asp-for="Form.LabelSingular"></label>
                            <input type="text" class="form-control @Model.HasError("LabelSingular")"
                                asp-for="Form.LabelSingular" required>
                            <div class="invalid-feedback">@Model.ErrorMessageFor("LabelSingular")</div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <div class="mb-3">
                            <label class="form-label raytha-required" asp-for="Form.DeveloperName"></label>
                            <input type="text" class="form-control" asp-for="Form.DeveloperName" readonly>
                        </div>
                    </div>
                    <div class="col-lg-12 mt-4">
                        <label class="form-label raytha-required" asp-for="Form.DefaultRouteTemplate"></label>
                        <div class="input-group mb-3">
                            <span class="input-group-text">@Model.WebsiteUrl</span>
                            <input type="text" class="form-control @Model.HasError("DefaultRouteTemplate")"
                                asp-for="Form.DefaultRouteTemplate" required>
                            <div class="invalid-feedback">@Model.ErrorMessageFor("DefaultRouteTemplate")</div>
                        </div>
                        <div class="form-text">Available variables: {PrimaryField}, {ContentTypeDeveloperName}, {Id},
                            {CurrentYear}, {CurrentMonth}</div>
                    </div>
                    <div class="col-lg-12 mt-4">
                        <div class="mb-3">
                            <label class="form-label" asp-for="Form.Description"></label>
                            <textarea class="form-control @Model.HasError("Description")"
                                asp-for="Form.Description"></textarea>
                            <div class="invalid-feedback">@Model.ErrorMessageFor("Description")</div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="mb-3">
                            <label class="form-label raytha-required" asp-for="Form.PrimaryFieldId"></label>
                            <select class="form-select @Model.HasError("PrimaryFieldId")"
                                asp-for="Form.PrimaryFieldId">
                                <option value="">-- SELECT --</option>
                                @foreach (var field in Model.ContentTypeFields)
                                {
                                    <option value="@field.Key">@field.Value</option>
                                }
                            </select>
                            <div class="invalid-feedback">@Model.ErrorMessageFor("PrimaryFieldId")</div>
                        </div>
                    </div>
                    <input type="hidden" asp-for="Form.Id">
                    <button type="submit" class="btn btn-success">Save changes</button>
                </form>
            </div>
        </div>
    </div>
</div>
