@inject IAuthorizationService AuthorizationService
@inject ICurrentOrganization CurrentOrganization
@inject ICurrentUser CurrentUser
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Raytha.Web.Areas.Admin.Pages.Admins
@model ISubActionViewModel
@{
    Layout = "SidebarLayout";
}

@functions {
    public string IsActivePage(string menuItem)
    {
        if ((string)ViewData["ActiveSubMenu"] == menuItem)
        {
            return "active";
        }
        return string.Empty;
    }

    public string DisableIfEditingMyself()
    {
        return Model.Id == CurrentUser.UserId ? "disabled" : string.Empty;
    }
}

<div class="row mb-4">
        @Html.Partial("_Partials/PageHeading", ViewData["Title"])
        <div class="col-xxl-7 col-xl-8 col-lg-9 col-md-12">
            <div class="card border-0 shadow mb-4">
                <div class="card-body">
                    @RenderBody()
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-12">
            <div class="card border-0 shadow mb-4">
                <div class="card-body">
                    <div class="nav-wrapper position-relative">
                        <ul class="nav nav-pills square nav-fill flex-column vertical-tab">
                            <li class="nav-item">
                                <a class="nav-link d-inline-flex align-items-center justify-content-center @IsActivePage("Edit")"
                                   asp-page="@RouteNames.Admins.Edit" asp-route-id="@Model.Id">
                                    <svg class="icon icon-sm mx-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"></path></svg>
                                    Edit admin
                                </a>
                            </li>
                            @if (CurrentOrganization.EmailAndPasswordIsEnabledForAdmins)
                            {
                                <li class="nav-item">
                                    <a class="nav-link @IsActivePage("Reset password")"
                                       asp-page="@RouteNames.Admins.ResetPassword" asp-route-id="@Model.Id">
                                        <svg class="icon icon-sm" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 7a2 2 0 012 2m4 0a6 6 0 01-7.743 5.743L11 17H9v2H7v2H4a1 1 0 01-1-1v-2.586a1 1 0 01.293-.707l5.964-5.964A6 6 0 1121 9z"></path></svg>
                                        Reset password
                                    </a>
                                </li>
                            }
                            <li class="nav-item">
                                <form method="post" asp-page="@RouteNames.Admins.RemoveAccess" asp-route-id="@Model.Id">
                                    <button class="nav-link d-inline-flex align-items-center justify-content-center" @DisableIfEditingMyself()>
                                        <svg class="icon icon-sm mx-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z"></path></svg>
                                        Remove admin access
                                    </button>
                                </form>
                            </li>
                            @if (Model.IsActive)
                            {
                                <li class="nav-item">
                                    <form method="post" asp-page="@RouteNames.Admins.Suspend" asp-route-id="@Model.Id">
                                        <button class="nav-link d-inline-flex align-items-center justify-content-center" @DisableIfEditingMyself()>
                                            <svg class="icon icon-sm mx-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z"></path></svg>
                                            Suspend account access
                                        </button>
                                    </form>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <form method="post" asp-page="@RouteNames.Admins.Restore" asp-route-id="@Model.Id">
                                        <button class="nav-link d-inline-flex align-items-center justify-content-center" @DisableIfEditingMyself()>
                                            <svg class="icon icon-sm mx-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 11V7a4 4 0 118 0m-4 8v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2z"></path></svg>
                                            Restore account access
                                        </button>
                                    </form>
                                </li>
                            }
                            <li class="nav-item">
                                <a class="nav-link @IsActivePage("Api keys")"
                                   asp-page="@RouteNames.Admins.ApiKeys" asp-route-id="@Model.Id">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon icon-sm">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M14.25 9.75L16.5 12l-2.25 2.25m-4.5 0L7.5 12l2.25-2.25M6 20.25h12A2.25 2.25 0 0020.25 18V6A2.25 2.25 0 0018 3.75H6A2.25 2.25 0 003.75 6v12A2.25 2.25 0 006 20.25z" />
                                    </svg>

                                    Api keys
                                </a>
                            </li>
                            <li class="nav-item">
                                <form method="post" asp-page="@RouteNames.Admins.Delete" asp-route-id="@Model.Id" onsubmit="return confirm('Are you sure you want to delete?');">
                                    <button class="nav-link d-inline-flex align-items-center justify-content-center text-danger" @DisableIfEditingMyself()>
                                        <svg class="icon icon-sm mx-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path></svg>
                                        Delete admin
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

@section Scripts {
<script type="module" defer src="~/js/pages/admins/sub-action.js"></script>
}
