@page "/raytha/settings/roles/edit/{id}"
@model Raytha.Web.Areas.Admin.Pages.Roles.Edit

@{
    Layout = "SidebarLayout";
    ViewData["Title"] = "Edit role";
    ViewData["ActiveMenu"] = "Roles";
    ViewData["ExpandSettingsMenu"] = true;

    BackLinkOptions back = new BackLinkOptions
    {
        Page = RouteNames.Roles.Index
    };
}
@functions {
    public string DisableIfSuperAdminRole()
    {
        return Model.IsSuperAdmin ? "disabled" : string.Empty;
    }
}
<div class="row mb-4">
    <partial name="_Partials/PageHeading" model='ViewData["Title"]' />
    <div class="col-xxl-7 col-xl-8 col-lg-9 col-md-12">
        <div class="card border-0 shadow mb-4">
            <div class="card-body">
                @(await Html.PartialAsync("_Partials/BackToList", back))
                <form asp-page="@RouteNames.Roles.Edit" asp-route-id="@Model.Form.Id" method="post" class="py-4"
                    novalidate data-role-permissions-form>
                    <div class="col-lg-12">
                        <div class="mb-3">
                            <label class="form-label raytha-required" asp-for="Form.Label"></label>
                            @if (Model.IsSuperAdmin)
                            {
                                <input type="text" class="form-control @Model.HasError("Label")" asp-for="Form.Label"
                                    required disabled>
                            }
                            else
                            {
                                <input type="text" class="form-control @Model.HasError("Label")" asp-for="Form.Label"
                                    required>
                            }
                            <div class="invalid-feedback">@Model.ErrorMessageFor("Label")</div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="mb-3">
                            <label class="form-label raytha-required" asp-for="Form.DeveloperName"></label>
                            <input type="text" class="form-control" asp-for="Form.DeveloperName" readonly>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="mb-3">
                            <span class="h6 fw-bold">System permissions</span>
                        </div>

                        @for (int i = 0; i < Model.Form.SystemPermissions.Length; i++)
                        {
                            <div class="form-check">
                                @if (Model.IsSuperAdmin)
                                {
                                    <input class="form-check-input @Model.HasError("SystemPermissions")" type="checkbox"
                                        asp-for="Form.SystemPermissions[i].Selected" data-permission-type="system"
                                        data-permission="@Model.Form.SystemPermissions[i].DeveloperName" disabled>
                                }
                                else
                                {
                                    <input class="form-check-input @Model.HasError("SystemPermissions")" type="checkbox"
                                        asp-for="Form.SystemPermissions[i].Selected" data-permission-type="system"
                                        data-permission="@Model.Form.SystemPermissions[i].DeveloperName">
                                }
                                <label class="form-check-label"
                                    asp-for="Form.SystemPermissions[i].Selected">@Model.Form.SystemPermissions[i].Label</label>
                                <input type="hidden" asp-for="Form.SystemPermissions[i].DeveloperName" />
                                <input type="hidden" asp-for="Form.SystemPermissions[i].Label" />
                                @if (i == Model.Form.SystemPermissions.Length - 1)
                                {
                                    <div class="invalid-feedback">@Model.ErrorMessageFor("SystemPermissions")</div>
                                }
                            </div>
                        }
                    </div>

                    <div class="col-lg-12"></div>
                    @foreach (var contentType in Model.Form.ContentTypePermissions.GroupBy(p => p.ContentTypeId))
                    {
                        <div class="mb-3">
                            <span class="h6 fw-bold">@contentType.First().ContentTypeLabel permissions</span>
                        </div>
                        @foreach (var permission in contentType)
                        {
                            var permissionIndex = Model.Form.ContentTypePermissions.ToList().IndexOf(permission);

                            <div class="form-check">
                                @if (Model.IsSuperAdmin)
                                {
                                    <input class="form-check-input" type="checkbox"
                                        asp-for="Form.ContentTypePermissions[permissionIndex].Selected"
                                        data-permission-type="contenttype"
                                        data-contenttypeid="@Model.Form.ContentTypePermissions[permissionIndex].ContentTypeId"
                                        data-permission="@Model.Form.ContentTypePermissions[permissionIndex].DeveloperName"
                                        data-permissionindex="@permissionIndex" disabled>
                                }
                                else
                                {
                                    <input class="form-check-input" type="checkbox"
                                        asp-for="Form.ContentTypePermissions[permissionIndex].Selected"
                                        data-permission-type="contenttype"
                                        data-contenttypeid="@Model.Form.ContentTypePermissions[permissionIndex].ContentTypeId"
                                        data-permission="@Model.Form.ContentTypePermissions[permissionIndex].DeveloperName"
                                        data-permissionindex="@permissionIndex">
                                }
                                <label class="form-check-label"
                                    asp-for="Form.ContentTypePermissions[permissionIndex].Selected">@Model.Form.ContentTypePermissions[permissionIndex].Label</label>
                                <input type="hidden" asp-for="Form.ContentTypePermissions[permissionIndex].DeveloperName" />
                                <input type="hidden" asp-for="Form.ContentTypePermissions[permissionIndex].Label" />
                                <input type="hidden" asp-for="Form.ContentTypePermissions[permissionIndex].ContentTypeId" />
                                <input type="hidden" asp-for="Form.ContentTypePermissions[permissionIndex].ContentTypeLabel" />
                            </div>
                        }
                    }
                    <input type="hidden" asp-for="Form.Id">
                    <button type="submit" class="btn btn-success mt-4" @DisableIfSuperAdminRole()>Save changes</button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-12">
        <div class="card border-0 shadow mb-4">
            <div class="card-body">
                <div class="nav-wrapper position-relative">
                    <ul class="nav nav-pills square nav-fill flex-column vertical-tab">
                        <li class="nav-item">
                            <form method="post" asp-page="@RouteNames.Roles.Delete" asp-route-id="@Model.Form.Id"
                                onsubmit="return confirm('Are you sure you want to delete?');">
                                <button
                                    class="nav-link d-inline-flex align-items-center justify-content-center text-danger"
                                    @DisableIfSuperAdminRole()>
                                    <svg class="icon icon-sm mx-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16">
                                        </path>
                                    </svg>
                                    Delete role
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<script type="module" defer src="~/js/pages/roles/edit.js"></script>
}
