@model ViewsCreate_ViewModel
@{
    ViewData["Title"] = $"{Model.CurrentView.ContentTypeLabelPlural} > Views > Create view";
}

@(await Html.PartialAsync("_PageHeader", new PageHeader_ViewModel
{
    Title = ViewData["Title"].ToString(),
    Description = Model.CurrentView.ContentTypeDescription
}))

<div class="row mb-4" data-controller="shared--developername">
    <div class="col-xxl-7 col-xl-8 col-lg-9 col-md-12">
        <div class="card border-0 shadow mb-4">
            <div class="card-body">
                @if (!string.IsNullOrEmpty(Model.DuplicateFromId))
                {
                    <a asp-route="contentitemsindex" asp-route-contentTypeDeveloperName="@Model.CurrentView.ContentTypeDeveloperName" asp-route-viewId="@Model.DuplicateFromId">
                        <svg class="icon icon-sm" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16l-4-4m0 0l4-4m-4 4h18"></path></svg>
                        Back
                    </a>
                }
                else
                {
                    @(await Html.PartialAsync("_BackToList", Model.CurrentView.ContentTypeDeveloperName))
                }

                <form asp-route="viewscreate" method="post" class="py-4">
                    <div class="col-lg-12 col-md-12">
                        <div class="mb-3">
                            <label class="form-label raytha-required" asp-for="Label"></label>
                            <input type="text" class="form-control @Model.HasError("Label")" asp-for="Label" required
                                data-shared--developername-target="label"
                                data-action="keyup->shared--developername#setDeveloperName change->shared--developername#setDeveloperName">
                            <div class="invalid-feedback">@Model.ErrorMessageFor("Label")</div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <div class="mb-3">
                            <label class="form-label raytha-required" asp-for="DeveloperName"></label>
                            <input type="text" class="form-control @Model.HasError("DeveloperName")"
                                asp-for="DeveloperName" required data-shared--developername-target="developername">
                            <div class="invalid-feedback">@Model.ErrorMessageFor("DeveloperName")</div>
                            <div class="form-text">You cannot change the developer name after it has been created.</div>
                        </div>
                    </div>
                    <div class="col-lg-12 mt-4">
                        <div class="mb-3">
                            <label class="form-label" asp-for="@Model.Description"></label>
                            <textarea class="form-control @Model.HasError("Description")" asp-for="@Model.Description"></textarea>
                            <div class="invalid-feedback">@Model.ErrorMessageFor("Description")</div>
                        </div>
                    </div>  
                    <input type="hidden" asp-for="ContentTypeId">
                    <input type="hidden" asp-for="DuplicateFromId">
                    <button type="submit" class="btn btn-success">Save changes</button>
                </form>
            </div>
        </div>
    </div>
</div>