@model ViewsFilter_ViewModel
@{
    ViewData["Title"] = $"{Model.CurrentView.ContentTypeLabelPlural} > {Model.CurrentView.Label} > Filter";

    var initialParentId = Guid.NewGuid().ToString();
}

@section headstyles
{
<link rel="stylesheet" href="~/raytha_admin/css/notyf.min.css" />

<style>
    .tree {
        min-height: 20px;
    }

    .tree li {
        list-style-type: none;
        margin: 0;
        padding: 10px 5px 0 5px;
        position: relative
    }

    .tree li::before,
    .tree li::after {
        content: '';
        left: -20px;
        position: absolute;
        right: auto
    }

    .tree li::before {
        border-left: 1px solid #999;
        bottom: 50px;
        height: 100%;
        top: 0;
        width: 1px
    }

    .tree li::after {
        border-top: 1px solid #999;
        height: 20px;
        top: 25px;
        width: 25px
    }

    .tree>ul>li::before,
    .tree>ul>li::after {
        border: 0
    }

    .tree li:last-child::before {
        height: 30px
    }
</style>
}

@(await Html.PartialAsync("_PageHeader", new PageHeader_ViewModel
{
    Title = ViewData["Title"].ToString(),
    Description = Model.CurrentView.ContentTypeDescription
}))

<div class="row mb-4">
    <div class="col-lg-12 col-md-12">
        <div class="card border-0 shadow mb-4">
            <div class="card-body">
                <a asp-route="contentitemsindex" asp-route-viewId="@Model.CurrentView.Id" asp-route-contentTypeDeveloperName="@Model.CurrentView.ContentTypeDeveloperName">
                    <svg class="icon icon-sm" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16l-4-4m0 0l4-4m-4 4h18"></path></svg>
                    Back
                </a>
                <div class="tree" data-controller="shared--filter" data-shared--filter-customfields-value="@Model.ContentTypeFieldsAsJson" data-shared--filter-updateurl-value="@Url.Action("Filter", "Views", new { contentType = Model.CurrentView.ContentTypeDeveloperName, id = Model.CurrentView.Id })">
                    @if (Model.CurrentView.Filter.Any())
                    {
                        <ul>
                            <partial name="_FilterSubtree" model="@(new FilterSubtree_ViewModel { ContentTypeFields = Model.ContentTypeFields, FilterCondition = Model.CurrentView.Filter.FirstOrDefault(p => p.ParentId == null), CurrentView = Model.CurrentView })" />
                        </ul>
                    }
                    else 
                    {
                        <ul>
                            <li class="parent_li" data-shared--filter-target="filterItem" data-type="filter_condition_group" data-id="@initialParentId" data-parentid="">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" name="groupOperator-@initialParentId" id="andChoice-@initialParentId" type="radio" value="and" data-forId="@initialParentId" data-shared--filter-target="groupOperator" checked>
                                            <label class="form-check-label" for="andChoice-@initialParentId">AND</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" name="groupOperator-@initialParentId" id="orChoice-@initialParentId" type="radio" value="or" data-forId="@initialParentId" data-shared--filter-target="groupOperator"> 
                                            <label class="form-check-label" for="orChoice-@initialParentId">OR</label>
                                        </div>
                                        <div class="float-end">
                                            <button type="button" class="btn btn-sm btn-outline-primary" data-action="shared--filter#addFilter" data-forid="@initialParentId" data-shared--filter-target="addFilterButton">Add filter</button>
                                            <button type="button" class="btn btn-sm btn-outline-primary" data-action="shared--filter#addFilterGroup" data-forid="@initialParentId" data-shared--filter-target="addFilterGroupButton">Add filter group</button>
                                        </div>
                                        <ul data-shared--filter-target="filterItemSubtree" data-forid="@initialParentId"></ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    }

                    <button type="submit" class="btn btn-success" data-action="shared--filter#save">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>