@using Raytha.Web.Areas.Admin.Views.RaythaFunctions
@using Raytha.Domain.ValueObjects
@model Raytha.Web.Areas.Admin.Views.RaythaFunctions.RaythaFunctionsEdit_ViewModel
@{
    ViewData["Title"] = "Functions > Edit function";
    ViewData["ActiveSubMenu"] = "Edit";
}
@(await Html.PartialAsync("_PageHeader", new PageHeader_ViewModel
{
    Title = ViewData["Title"].ToString(),
}))

<div class="row mb-4">
    <div class="col-xxl-7 col-xl-8 col-lg-9 col-md-12">
        <div class="card border-0 shadow mb-4">
            <div class="card-body">
                @(await Html.PartialAsync("_BackToList", "functionsindex"))
                <form asp-route="functionsedit" method="post" class="py-4" data-controller="shared--developername raythafunctions--codehighlighting" asp-route-id="@Model.Id">
                    <input type="hidden" asp-for="Id">
                    <div class="col-lg-12 col-md-12">
                        <div class="mb-3">
                            <label class="form-label raytha-required" asp-for="Name"></label>
                            <input type="text" class="form-control @Model.HasError("Name")" asp-for="Name">
                            <div class="invalid-feedback">@Model.ErrorMessageFor("Name")</div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <div class="mb-3">
                            <label class="form-label" asp-for="DeveloperName"></label>
                            <input type="text" class="form-control @Model.HasError("DeveloperName")"
                                   asp-for="DeveloperName" readonly>
                            <div class="invalid-feedback">@Model.ErrorMessageFor("DeveloperName")</div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="mb-3">
                            <label class="form-label raytha-required" asp-for="TriggerType"></label>
                            <select class="form-select @Model.HasError("TriggerType")" asp-for="TriggerType">
                                @foreach (var supportedTriggerType in RaythaFunctionTriggerType.SupportedTypes)
                                {
                                    <option value="@supportedTriggerType.DeveloperName">@supportedTriggerType.Label</option>
                                }
                            </select>
                            <div class="invalid-feedback">@Model.ErrorMessageFor("TriggerType")</div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-check">
                            <input class="form-check-input @Model.HasError("IsActive")" type="checkbox" asp-for="@Model.IsActive">
                            <label class="form-check-label" asp-for="IsActive"></label>
                            <div class="invalid-feedback">@Model.ErrorMessageFor("IsActive")</div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="mb-3">
                            <label class="form-label raytha-required" asp-for="Code"></label><br />
                            <div class="@Model.HasError("Code")" id="editorContainer" style="height: 600px;overflow: auto;" data-raythafunctions--codehighlighting-target="editor"></div>
                            <input type="hidden" asp-for="Code" data-raythafunctions--codehighlighting-target="textarea" />
                            <div class="invalid-feedback">@Model.ErrorMessageFor("Code")</div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success mt-4">Save</button>
                </form>
            </div>
        </div>
    </div>
    @(await Html.PartialAsync("_ActionsMenu", new RaythaFunctionsActionsMenu_ViewModel
    {
        Id = Model.Id,
        ActivePage = "Edit",
    }))
</div>
<style>
    .CodeMirror { height: 100%; }
</style>