@model FieldsPagination_ViewModel
@{
    ViewData["Title"] = $"{Model.CurrentView.ContentTypeLabelPlural} > Fields > Reorder fields";
}

@section headstyles
{
    <link rel="stylesheet" href="~/raytha_admin/css/notyf.min.css" />
}

@(await Html.PartialAsync("_PageHeader", new PageHeader_ViewModel
{
    Title = ViewData["Title"].ToString(),
    Description = Model.CurrentView.ContentTypeDescription
}))

<div class="row mb-4">
    <div class="col-xxl-7 col-xl-8 col-lg-9 col-md-12">
        <div class="card border-0 shadow mb-4">
            <div class="card-body">
                @(await Html.PartialAsync("_BackToList", Model.CurrentView.ContentTypeDeveloperName))

                <ul data-controller="shared--reorderlist" data-shared--reorderlist-animation-value="150"
                    class="list-group mt-4">
                    @foreach (var item in Model.Items)
                    {
                        <li data-sortable-update-url="@Url.Action("FieldsReorderAjax", new { contentTypeDeveloperName = Model.CurrentView.ContentTypeDeveloperName, id = item.Id })" class="list-group-item border raytha-draggable d-flex justify-content-between">
                            <div>
                                @item.Label <small>@item.DeveloperName</small>
                            </div>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon icon-xs me-2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 9h16.5m-16.5 6.75h16.5" />
                            </svg>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>