@model List_ViewModel<EmailTemplatesListItem_ViewModel>
@{
    ViewData["Title"] = "Email templates";
}

@section headstyles
{
    <style>
        table thead th:last-child {
          position: sticky;
          right: 0;
          z-index: 2;
          background-color:white;
        }

        table tbody td:last-child {
          position: sticky;
          right: 0;
          z-index: 2;
          background-color:white;
        }
    </style>
}

@(await Html.PartialAsync("_PageHeader", new PageHeader_ViewModel
{
    Title = ViewData["Title"].ToString(),
}))

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" asp-route="webtemplatesindex">
        <svg class="icon icon-xs"  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 17.25v1.007a3 3 0 01-.879 2.122L7.5 21h9l-.621-.621A3 3 0 0115 18.257V17.25m6-12V15a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 15V5.25m18 0A2.25 2.25 0 0018.75 3H5.25A2.25 2.25 0 003 5.25m18 0V12a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 12V5.25" />
        </svg>
        Web</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" asp-route="emailtemplatesindex">
        <svg class="icon icon-xs"  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" d="M9 3.75H6.912a2.25 2.25 0 00-2.15 1.588L2.35 13.177a2.25 2.25 0 00-.1.661V18a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18v-4.162c0-.224-.034-.447-.1-.661L19.24 5.338a2.25 2.25 0 00-2.15-1.588H15M2.25 13.5h3.86a2.25 2.25 0 012.012 1.244l.256.512a2.25 2.25 0 002.013 1.244h3.218a2.25 2.25 0 002.013-1.244l.256-.512a2.25 2.25 0 012.013-1.244h3.859M12 3v8.25m0 0l-3-3m3 3l3-3" />
        </svg>
        Email</a>
  </li>
</ul>


<nav class="navbar navbar-expand-lg navbar-light raytha-view-nav">
    <div class="container-fluid mx-2">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <form class="d-flex" asp-action="EmailTemplatesIndex" method="get">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search" value="@Model.Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

<div class="raytha-data-card mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-centered table-nowrap mb-0 rounded">
                <thead class="thead-light">
                    <tr>
                        @(await Html.PartialAsync("_TableColumnHeader", new TableColumnHeader_ViewModel()
                        {
                            Model = Model,
                            PropertyName = "Subject",
                            IsFirst = true,
                            DisplayName = ViewModelExtensions.GetDisplayName<EmailTemplatesListItem_ViewModel>(p => p.Subject)
                        }))
                        @(await Html.PartialAsync("_TableColumnHeader", new TableColumnHeader_ViewModel()
                        {
                            Model = Model,
                            PropertyName = "DeveloperName",
                            DisplayName = ViewModelExtensions.GetDisplayName<EmailTemplatesListItem_ViewModel>(p => p.DeveloperName)
                        }))
                        @(await Html.PartialAsync("_TableColumnHeader", new TableColumnHeader_ViewModel()
                        {
                            Model = Model,
                            PropertyName = "LastModificationTime",
                            DisplayName = ViewModelExtensions.GetDisplayName<EmailTemplatesListItem_ViewModel>(p => p.LastModificationTime)
                        }))
                        <th class="border-0">
                            Last modified by
                        </th>
                        <th class="border-0 rounded-end">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <td>@item.Subject</td>
                            <td>@item.DeveloperName</td>
                            <td>@item.LastModificationTime</td>
                            <td>@item.LastModifierUser</td>
                            <td><a asp-route="emailtemplatesedit" asp-route-id="@item.Id">Edit</a></td>
                        </tr>
                    }
                </tbody>
            </table>
            <partial name="_TablePagination" model="@Model" />
        </div>
    </div>
</div>