@model Smtp_ViewModel
@{
    ViewData["Title"] = "SMTP";
}
<div class="py-4">
    <div class="d-flex justify-content-between w-100 flex-wrap">
        <div class="mb-3 mb-lg-0">
            <h1 class="h4">@ViewData["Title"]</h1>
            <p class="mb-0 col-lg-6 col-md-12">An SMTP server is required for the system to send password reset and confirmation emails. You can use a different SMTP server than the one the server administrator configured by providing the details below.</p>
        </div>
    </div>
</div>

<div class="row mb-4" data-controller="smtp--disablefields">
    <div class="col-lg-9 col-md-12">
        <div class="card border-0 shadow mb-4">
            <div class="card-body">
                <form asp-route="smtpindex" method="post" autocomplete="off">
                    <div class="col-lg-12">
                        <div class="form-check">
                            @if (Model.MissingSmtpEnvironmentVariables)
                            {
                                <input class="form-check-input @Model.HasError("SmtpOverrideSystem")" type="checkbox" asp-for="SmtpOverrideSystem" disabled> 
                                <input type="hidden" asp-for="SmtpOverrideSystem">
                            }
                            else
                            {
                                <input data-smtp--disablefields-target="smtpOverrideSystem" class="form-check-input @Model.HasError("SmtpOverrideSystem")" type="checkbox" asp-for="SmtpOverrideSystem" data-action="change->smtp--disablefields#toggleDisableFields"> 
                            }
                            
                            <label class="form-check-label" asp-for="SmtpOverrideSystem"></label>
                            <div class="invalid-feedback">@Model.ErrorMessageFor("SmtpOverrideSystem")</div>       
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="mb-3">
                            <label class="form-label raytha-required" asp-for="SmtpHost"></label>
                            <input data-smtp--disablefields-target="smtpHost" type="text" class="form-control @Model.HasError("SmtpHost")" asp-for="SmtpHost" required>
                            <div class="invalid-feedback">@Model.ErrorMessageFor("SmtpHost")</div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="mb-3">
                            <label class="form-label raytha-required" asp-for="SmtpPort"></label>
                            <input data-smtp--disablefields-target="smtpPort" type="number" class="form-control @Model.HasError("SmtpPort")" asp-for="SmtpPort" required max="65535">
                            <div class="invalid-feedback">@Model.ErrorMessageFor("SmtpPort")</div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="mb-3">
                            <label class="form-label" asp-for="SmtpUsername"></label>
                            <input data-smtp--disablefields-target="smtpUsername" type="text" class="form-control @Model.HasError("SmtpUsername")" asp-for="SmtpUsername">
                            <div class="invalid-feedback">@Model.ErrorMessageFor("SmtpUsername")</div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="mb-3">
                            <label class="form-label" asp-for="SmtpPassword"></label>
                            <input data-smtp--disablefields-target="smtpPassword" type="text" class="form-control @Model.HasError("SmtpPassword")" asp-for="SmtpPassword">
                            <div class="invalid-feedback">@Model.ErrorMessageFor("SmtpPassword")</div>
                        </div>
                    </div>
                    <input type="hidden" asp-for="MissingSmtpEnvironmentVariables">
                    <button type="submit" class="btn btn-success mt-4">Save changes</button>
                </form>
            </div>
        </div>
    </div>
</div>