@page "/raytha/login/forgot-password/complete/{token?}"
@model Raytha.Web.Areas.Admin.Pages.Login.ForgotPasswordComplete

@{
    Layout = "EmptyLayout";
}
<section class="vh-lg-100 mt-5 mt-lg-0 bg-soft d-flex align-items-center">
    <div class="container">
        <div class="row justify-content-center form-bg-image">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="bg-white shadow border-0 rounded border-light p-4 p-lg-5 w-100 fmxw-500">
                    <a asp-page="/Login/LoginWithEmailAndPassword">
                        <svg class="icon icon-sm" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M7 16l-4-4m0 0l4-4m-4 4h18"></path>
                        </svg>
                        Back
                    </a>
                    <div class="text-center text-md-center mb-4 mt-md-0">
                        <h1 class="mb-0 h3">Forgot password</h1>
                    </div>
                    @if (ViewData["ErrorMessage"] != null)
                    {
                        <div class="alert alert-danger mt-2">
                            @ViewData["ErrorMessage"]
                        </div>

                    }

                    @if (ViewData["SuccessMessage"] != null)
                    {
                        <div class="alert alert-success mt-2">
                            @ViewData["SuccessMessage"]
                        </div>
                    }

                    <form method="post" asp-page="/Login/ForgotPasswordComplete" asp-route-token="@Model.Form.Id"
                        class="mt-4" novalidate>
                        <!-- Form -->
                        <div class="col-lg-12">
                            <div class="mb-3">
                                <label class="form-label" asp-for="Form.NewPassword"></label>
                                <input type="password" class="form-control @Model.HasError("NewPassword")"
                                    asp-for="Form.NewPassword" required minlength="8">
                                <div class="invalid-feedback">@Model.ErrorMessageFor("NewPassword")</div>
                                <div class="form-text">Password must be at least 8 characters.</div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="mb-3">
                                <label class="form-label" asp-for="Form.ConfirmNewPassword"></label>
                                <input type="password" class="form-control @Model.HasError("ConfirmNewPassword")"
                                    asp-for="Form.ConfirmNewPassword" required minlength="8">
                                <div class="invalid-feedback">@Model.ErrorMessageFor("ConfirmNewPassword")</div>
                                <div class="form-text">Password must match the above.</div>
                            </div>
                        </div>
                        <input type="hidden" asp-for="Form.Id">
                        <button type="submit" class="btn btn-success mt-4">Save changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>