@model EditRole_ViewModel
@{
    ViewData["Title"] = "Roles > Edit role";
}

@(await Html.PartialAsync("_PageHeader", new PageHeader_ViewModel
{
    Title = ViewData["Title"].ToString(),
}))

<div class="row mb-4">
    <div class="col-xxl-7 col-xl-8 col-lg-9 col-md-12">
        <div class="card border-0 shadow mb-4">
            <div class="card-body">
                @(await Html.PartialAsync("_BackToList", "rolesindex"))
                <form asp-route="settingsrolesedit" method="post" class="py-4" data-controller="roles--autodisable">
                    <div class="col-lg-12">
                        <div class="mb-3">
                            <label class="form-label raytha-required" asp-for="Label"></label>
                            <input type="text" class="form-control @Model.HasError("Label")" asp-for="Label" required>
                            <div class="invalid-feedback">@Model.ErrorMessageFor("Label")</div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="mb-3">
                            <label class="form-label" asp-for="DeveloperName"></label>
                            <input type="text" class="form-control @Model.HasError("DeveloperName")" asp-for="DeveloperName" readonly>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="mb-3">
                            <span class="h6 fw-bold">System permissions</span>
                        </div>

                        @for (int i = 0; i < Model.SystemPermissions.Length; i++)
                        {
                            <div class="form-check">
                                @if (Model.IsSuperAdmin)
                                {
                                    <input class="form-check-input @Model.HasError("SystemPermissions")" type="checkbox" asp-for="SystemPermissions[i].Selected" disabled> 
                                }
                                else
                                {
                                    <input class="form-check-input @Model.HasError("SystemPermissions")" type="checkbox" asp-for="SystemPermissions[i].Selected" data-action="change->roles--autodisable#toggleSystemPermission" data-permission="@Model.SystemPermissions[i].DeveloperName" data-roles--autodisable-target="systemPermission">
                                }

                                <label class="form-check-label" asp-for="SystemPermissions[i].Selected">@Model.SystemPermissions[i].Label</label>
                                <input type="hidden" asp-for="SystemPermissions[i].DeveloperName" />
                                <input type="hidden" asp-for="SystemPermissions[i].Label" />  
                                @if (i == Model.SystemPermissions.Length-1)
                                {
                                    <div class="invalid-feedback">@Model.ErrorMessageFor("SystemPermissions")</div>
                                }
                            </div>
                        }
                    </div>

                    <div class="col-lg-12">
                        @foreach (var contentType in Model.ContentTypePermissions.GroupBy(p => p.ContentTypeId))
                        {
                            <div class="mb-3">
                                <span class="h6 fw-bold">@contentType.First().ContentTypeLabel permissions</span>
                            </div>
                            @foreach (var permission in contentType)     
                            {
                                var permissionIndex = Model.ContentTypePermissions.ToList().IndexOf(permission);
                               
                                <div class="form-check">
                                    @if (Model.IsSuperAdmin)
                                    {
                                        <input class="form-check-input" type="checkbox" asp-for="ContentTypePermissions[permissionIndex].Selected" disabled> 
                                    }
                                    else if (Model.ContentTypePermissions[permissionIndex].Selected)
                                    {
                                        <input checked class="form-check-input" type="checkbox" data-roles--autodisable-target="permissionCheckbox" data-action="change->roles--autodisable#toggleContentTypePermission" data-contenttypeid="@(Model.ContentTypePermissions[permissionIndex].ContentTypeId)" data-permission="@(Model.ContentTypePermissions[permissionIndex].DeveloperName)" data-permissionindex="@permissionIndex" />
                                    }
                                    else
                                    {
                                        <input class="form-check-input" type="checkbox" data-roles--autodisable-target="permissionCheckbox" data-action="change->roles--autodisable#toggleContentTypePermission" data-contenttypeid="@(Model.ContentTypePermissions[permissionIndex].ContentTypeId)" data-permission="@(Model.ContentTypePermissions[permissionIndex].DeveloperName)" data-permissionindex="@permissionIndex" />
                                    }

                                    <label class="form-check-label" asp-for="ContentTypePermissions[permissionIndex].Selected">@Model.ContentTypePermissions[permissionIndex].Label</label>
                                    <input type="hidden" asp-for="ContentTypePermissions[permissionIndex].DeveloperName" />
                                    <input type="hidden" asp-for="ContentTypePermissions[permissionIndex].Label" />
                                    <input type="hidden" asp-for="ContentTypePermissions[permissionIndex].ContentTypeId" />
                                    <input type="hidden" asp-for="ContentTypePermissions[permissionIndex].ContentTypeLabel" />
                                    <input type="hidden" asp-for="ContentTypePermissions[permissionIndex].Selected" data-roles--autodisable-target="permissionValue" data-permissionindex="@permissionIndex" />
                                </div>
                            }
                        }
                    </div>
                    <input type="hidden" asp-for="Id">
                    <input type="hidden" asp-for="IsSuperAdmin">
                    <button type="submit" class="btn btn-success mt-4">Save changes</button>
                </form>
            </div>
        </div>
    </div>
    @(await Html.PartialAsync("_ActionsMenu", new RolesActionsMenu_ViewModel
    {
        Id = Model.Id,
        IsSuperAdmin = Model.IsSuperAdmin
    }))
</div>