@page "/raytha"
@model Raytha.Web.Areas.Admin.Pages.Dashboard.Index

@{
    var pageTitle = "SMTP";
    Layout = "SidebarLayout";
    ViewData["Title"] = pageTitle;
    ViewData["ActiveMenu"] = pageTitle;
}

<div class="py-2">
    <div class="d-flex justify-content-between w-100 flex-wrap">
        <div class="mb-3 mb-lg-0">
            <h1 class="h4">@pageTitle</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-sm-6 col-xl-4 mb-4">
        <div class="card border-0 shadow">
            <div class="card-body">
                <div class="row d-block d-xl-flex align-items-center">
                    <div
                        class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                        <div class="icon-shape icon-shape-primary rounded me-4 me-sm-0">
                            <svg class="icon icon-md" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z">
                                </path>
                            </svg>
                        </div>
                        <div class="d-sm-none">
                            <h2 class="h5">Users</h2>
                            <h3 class="fw-extrabold mb-1">@Model.CurrentTotalUsers</h3>
                        </div>
                    </div>
                    <div class="col-12 col-xl-7 px-xl-0">
                        <div class="d-none d-sm-block">
                            <h2 class="h5">Users</h2>
                            <h3 class="fw-extrabold mb-1">@Model.CurrentTotalUsers</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card border-0 shadow my-4">
            <div class="card-body">
                <div class="row d-block d-xl-flex align-items-center">
                    <div
                        class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                        <div class="icon-shape icon-shape-secondary rounded me-4 me-sm-0">
                            <svg class="icon icon-md" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                stroke-width="1.5" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 002.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 00-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25zM6.75 12h.008v.008H6.75V12zm0 3h.008v.008H6.75V15zm0 3h.008v.008H6.75V18z" />
                            </svg>

                        </div>
                        <div class="d-sm-none">
                            <h2 class="fw-extrabold h5">Content items</h2>
                            <h3 class="mb-1">@Model.CurrentTotalContentItems</h3>
                        </div>
                    </div>
                    <div class="col-12 col-xl-7 px-xl-0">
                        <div class="d-none d-sm-block">
                            <h2 class="h5">Content items</h2>
                            <h3 class="fw-extrabold mb-1">@Model.CurrentTotalContentItems</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-xl-4 mb-4">
        <div class="card border-0 shadow">
            <div class="card-header border-bottom d-flex align-items-center justify-content-between">
                <h2 class="fs-5 fw-bold mb-0">File storage</h2>
            </div>
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between border-bottom pt-2 pb-2">
                    <div>
                        <div class="h6 mb-0 d-flex align-items-center">
                            Storage provider
                        </div>
                    </div>
                    <div><span class="d-flex align-items-center fw-bold">@Model.FileStorageProviderName</span></div>
                </div>
                <div class="d-flex align-items-center justify-content-between border-bottom pt-2 pb-2">
                    <div>
                        <div class="h6 mb-0 d-flex align-items-center">
                            Storage consumed
                        </div>
                    </div>
                    <div><span class="d-flex align-items-center fw-bold">@Model.CurrentFileStorageSizeInGb gb</span>
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-between border-bottom pt-2 pb-2">
                    <div>
                        <div class="h6 mb-0 d-flex align-items-center">
                            Storage allotted
                        </div>
                    </div>
                    <div><span class="d-flex align-items-center fw-bold">@Model.MaxTotalDiskSpaceInGb gb</span></div>
                </div>
                <div class="d-flex align-items-center justify-content-between border-bottom pt-2 pb-2">
                    <div>
                        <div class="h6 mb-0 d-flex align-items-center">
                            Percent used
                        </div>
                    </div>
                    <div><span class="d-flex align-items-center fw-bold">@Model.FileStoragePercentUsed %</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-xl-4 mb-4">
        <div class="card border-0 shadow">
            <div class="card-header border-bottom d-flex align-items-center justify-content-between">
                <h2 class="fs-5 fw-bold mb-0">Database size</h2>
            </div>
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between border-bottom pt-2 pb-2">
                    <div>
                        <div class="h6 mb-0 d-flex align-items-center">
                            Db size consumed
                        </div>
                    </div>
                    <div><span class="d-flex align-items-center fw-bold">@Model.CurrentDbSizeInMb mb</span></div>
                </div>
                <div class="d-flex align-items-center justify-content-between border-bottom pt-2 pb-2">
                    <div>
                        <div class="h6 mb-0 d-flex align-items-center">
                            Db size allotted
                        </div>
                    </div>
                    <div><span class="d-flex align-items-center fw-bold">@Model.MaxTotalDbSizeInMb mb</span></div>
                </div>
                <div class="d-flex align-items-center justify-content-between border-bottom pt-2 pb-2">
                    <div>
                        <div class="h6 mb-0 d-flex align-items-center">
                            Percent used
                        </div>
                    </div>
                    <div><span class="d-flex align-items-center fw-bold">@Model.DbPercentUsed %</span></div>
                </div>
            </div>
        </div>
    </div>
</div>
