@page "/raytha/themes/edit/{id}"
@model Raytha.Web.Areas.Admin.Pages.Themes.Edit
@inject ICurrentOrganization CurrentOrganization

@{
    var pageTitle = "Themes > Edit";
    Layout = "SubActionLayout";
    ViewData["Title"] = pageTitle;
    ViewData["ActiveMenu"] = "Themes";
    var back = new BackLinkOptions
    {
        Page = "/Themes/Index"
    };
}
@(await Html.PartialAsync("_Partials/BackToList", back))
<form asp-page="@RouteNames.Themes.Edit" asp-route-id="@Model.Form.Id" method="post" class="py-4" novalidate>
    <input type="hidden" asp-for="Form.Id">
    <div class="col-lg-12 col-md-12">
        <div class="mb-3">
            <label class="form-label raytha-required" asp-for="Form.Title"></label>
            <input type="text" class="form-control @Model.HasError("Title")" asp-for="Form.Title"
               
               >
            <div class="invalid-feedback">@Model.ErrorMessageFor("Title")</div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12">
        <div class="mb-3">
            <label class="form-label" asp-for="Form.DeveloperName"></label>
            <input type="text" class="form-control @Model.HasError("DeveloperName")" asp-for="Form.DeveloperName"
                readonly>
            <div class="invalid-feedback">@Model.ErrorMessageFor("DeveloperName")</div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12">
        <div class="mb-3">
            <label class="form-label" asp-for="Form.Description"></label>
            <input type="text" class="form-control @Model.HasError("Description")" asp-for="Form.Description">
            <div class="invalid-feedback">@Model.ErrorMessageFor("Description")</div>
        </div>
    </div>
    <button type="submit" class="btn btn-success mt-4">Save</button>
</form>

<hr />
@if (!Model.IsActive)
{
    <form asp-page="@RouteNames.Themes.SetAsActive" method="post" class="py-4" asp-route-id="@Model.Form.Id" data-turbo="false">
        <div class="col-lg-12">
            <button type="submit" class="btn btn-secondary mx-2">Set as active theme</button>
        </div>
    </form>
}
else
{
    <p>This theme is currently set as active.</p>
}