@page "/raytha/menus/edit/{navigationMenuId}/menu-items/edit/{id}"
@model Raytha.Web.Areas.Admin.Pages.NavigationMenus.MenuItems.Edit
@{
    var pageTitle = "Menus > Menu items > Edit";
    Layout = "SubActionLayout";
    ViewData["Title"] = pageTitle;
    ViewData["ActiveMenu"] = "Menus";
    ViewData["ActiveSubMenu"] = "Menu items";
}


<div class="col-xxl-7 col-xl-8 col-lg-9 col-md-12">
    <div class="card border-0 shadow mb-4">
        <div class="card-body">
            <partial name="/_Partials/BackToList" model="@Model" />
            <form asp-route="menuitemsedit" method="post" class="py-4">
                <div class="col-lg-12">
                    <div class="mb-3">
                        <label class="form-label" asp-for="Form.ParentNavigationMenuItemId"></label>
                        <select class="form-select @Model.HasError("ParentNavigationMenuItemId")"
                            asp-for="Form.ParentNavigationMenuItemId"
                            asp-items="@(new SelectList(Model.Form.NavigationMenuItems, "Id", "Label"))">
                            <option value="">(root)</option>
                        </select>
                        <div class="invalid-feedback">@Model.ErrorMessageFor("ParentNavigationMenuItemId")</div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12">
                    <div class="mb-3">
                        <label class="form-label raytha-required" asp-for="Form.Label"></label>
                        <input type="text" class="form-control @Model.HasError("Label")" asp-for="Form.Label" required>
                        <div class="invalid-feedback">@Model.ErrorMessageFor("Label")</div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12">
                    <div class="mb-3">
                        <label class="form-label raytha-required" asp-for="Url"></label>
                        <input type="text" class="form-control @Model.HasError("Url")" asp-for="Url" required>
                        <div class="invalid-feedback">@Model.ErrorMessageFor("Url")</div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="mb-3">
                        <div class="col-lg-12">
                            <div class="form-check">
                                <input class="form-check-input @Model.HasError("IsDisabled")" type="checkbox"
                                    asp-for="Form.IsDisabled">
                                <label class="form-check-label" asp-for="Form.IsDisabled"></label>
                                <div class="invalid-feedback">@Model.ErrorMessageFor("IsDisabled")</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="mb-3">
                        <div class="col-lg-12">
                            <div class="form-check">
                                <input class="form-check-input @Model.HasError("OpenInNewTab")" type="checkbox"
                                    asp-for="Form.OpenInNewTab">
                                <label class="form-check-label" asp-for="Form.OpenInNewTab"></label>
                                <div class="invalid-feedback">@Model.ErrorMessageFor("OpenInNewTab")</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12">
                    <div class="mb-3">
                        <label class="form-label" asp-for="Form.CssClassName"></label>
                        <input type="text" class="form-control @Model.HasError("CssClassName")"
                            asp-for="Form.CssClassName">
                        <div class="invalid-feedback">@Model.ErrorMessageFor("CssClassName")</div>
                    </div>
                </div>
                <input type="hidden" asp-for="@Model.Form.Id">
                <input type="hidden" asp-for="@Model.NavigationMenuId">
                <button type="submit" class="btn btn-success mt-4">Save changes</button>
            </form>
        </div>
    </div>
</div>