@page "/raytha/menus/edit/{navigationMenuId}/menu-items/reorder/{parentMenuItem?}"
@using Raytha.Application.Common.Utils
@model Raytha.Web.Areas.Admin.Pages.NavigationMenus.MenuItems.Reorder
@{
    var pageTitle = "Menus > Menu items > Reorder";
    Layout = "SubActionLayout";
    ViewData["Title"] = pageTitle;
    ViewData["ActiveMenu"] = "Menus";
    ViewData["ActiveSubMenu"] = "Menu items";

    var rootUrl = Url.Page(
    pageName: null,
    values: new { navigationMenuId = Model.NavigationMenuId, parentMenuItem = string.Empty } // no parent segment
    );

    var parentUrlTemplate = Url.Page(
    pageName: null,
    values: new { navigationMenuId = Model.NavigationMenuId, parentMenuItem = "__PARENT__" }
    );
}

@{
    async Task RenderNavigationMenuItemsList(string parentNavigationMenuId,
    List<Reorder.NavigationMenuItemsListItemViewModel>
    navigationMenuItems)
    {
        <ul id="menuList" class="list-group mt-4" data-ajax-url="@Url.Page(null, new { handler = "Ajax" })">
            @foreach (var item in navigationMenuItems)
            {
                <li class="list-group-item border raytha-draggable d-flex justify-content-between align-items-center"
                    data-id="@item.Id">
                    <div>
                        @item.Label <small>@item.Url</small>
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                        class="icon icon-xs me-2 drag-handle">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 9h16.5m-16.5 6.75h16.5" />
                    </svg>
                </li>
            }

            @Html.AntiForgeryToken()

        </ul>
    }
}


<div class="py-4">
    <div class="col-lg-12">
        <div class="mb-3">
            <label class="form-label">Parent menu item</label>
            <select id="keySelect" class="form-select"
                asp-for="@Model.ParentNavigationMenuId"
                asp-items="@(new SelectList(Model.NavigationMenuItemsForSelect, "Id", "Label"))"
                data-root-url="@rootUrl"
                data-parent-template="@parentUrlTemplate">
                <option value="">(root)</option>
            </select>
            <hr />
        </div>
    </div>
    @foreach (var item in Model.NavigationMenuItemsByParentNavigationMenuItemId)
    {
        await RenderNavigationMenuItemsList(item.Key, item.Value);
    }
</div>

@section Scripts {
<script src="~/raytha_admin/lib/sortablejs/Sortable.min.js"></script>
<script type="module" defer src="~/js/pages/navigation-menus/menu-items-reorder.js"></script>
}