@inject IAuthorizationService AuthorizationService
@inject ICurrentOrganization CurrentOrganization
@inject ICurrentUser CurrentUser
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Raytha.Web.Areas.Admin.Pages.NavigationMenus.MenuItems
@model ISubActionViewModel
@{
    Layout = "SidebarLayout";
}

@functions {
    public string IsActivePage(string menuItem)
    {
        if ((string)ViewData["ActiveSubMenu"] == menuItem)
        {
            return "active";
        }
        return string.Empty;
    }
}

<div class="row mb-4">
    <partial name="_Partials/PageHeading" model='ViewData["Title"]' />
    <div class="col-xxl-7 col-xl-8 col-lg-9 col-md-12">
        <div class="card border-0 shadow mb-4">
            <div class="card-body">
                @RenderBody()
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-12">
        <div class="card border-0 shadow mb-4">
            <div class="card-body">
                <div class="nav-wrapper position-relative">
                    <ul class="nav nav-pills nav-fill flex-column vertical-tab">
                    @if (!Model.IsNavigationMenuItem) 
                    {
                                                <li class="nav-item">
                            <a class="nav-link @IsActivePage("Edit")" asp-page="@RouteNames.NavigationMenus.Edit"
                                asp-route-id="@Model.NavigationMenuId">
                                <svg class="icon icon-sm mx-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z">
                                    </path>
                                </svg>
                                Edit menu
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @IsActivePage("Menu items")" asp-page="@RouteNames.NavigationMenus.MenuItems.Index"
                                asp-route-navigationMenuId="@Model.NavigationMenuId">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-sm" fill="none"
                                    stroke="currentColor" viewBox="0 0 24 24" fill="none">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M13 5C13 4.44772 12.5523 4 12 4C11.4477 4 11 4.44772 11 5C11 5.55228 11.4477 6 12 6C12.5523 6 13 5.55228 13 5Z" />
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M13 12C13 11.4477 12.5523 11 12 11C11.4477 11 11 11.4477 11 12C11 12.5523 11.4477 13 12 13C12.5523 13 13 12.5523 13 12Z" />
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M13 19C13 18.4477 12.5523 18 12 18C11.4477 18 11 18.4477 11 19C11 19.5523 11.4477 20 12 20C12.5523 20 13 19.5523 13 19Z" />
                                </svg>
                                Menu items
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @IsActivePage("Revisions")" asp-page="@RouteNames.NavigationMenus.Revisions"
                                asp-route-id="@Model.NavigationMenuId">
                                <svg class="icon icon-sm mx-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M12.066 11.2a1 1 0 000 1.6l5.334 4A1 1 0 0019 16V8a1 1 0 00-1.6-.8l-5.333 4zM4.066 11.2a1 1 0 000 1.6l5.334 4A1 1 0 0011 16V8a1 1 0 00-1.6-.8l-5.334 4z">
                                    </path>
                                </svg>
                                Revisions
                            </a>
                        </li>
                        <li class="nav-item">
                            <form method="post" asp-page="@RouteNames.NavigationMenus.Delete"
                                asp-route-id="@Model.NavigationMenuId" onsubmit="return confirm('Are you sure you want to delete?');">
                                <button
                                    class="nav-link d-inline-flex align-items-center justify-content-center text-danger"
                                   >
                                    <svg class="icon icon-sm mx-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16">
                                        </path>
                                    </svg>
                                    Delete menu
                                </button>
                            </form>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <form method="post" asp-page="@RouteNames.NavigationMenus.MenuItems.Delete"
                                asp-route-id="@Model.NavigationMenuItemId"
                                asp-route-navigationMenuId="@Model.NavigationMenuId" onsubmit="return confirm('Are you sure you want to delete?');">
                                <button type="submit"
                                    class="btn btn-outline-danger nav-link d-inline-flex align-items-center justify-content-center text-danger">
                                    <svg class="icon icon-sm mx-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16">
                                        </path>
                                    </svg>
                                    Delete menu item
                                </button>
                            </form>
                        </li>
                    }


                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

@* Render Scripts section from child pages *@
@await RenderSectionAsync("Scripts", required: false)