@model Views.Themes.ThemesActionsMenu_ViewModel


@functions {
    public string IsActivePage(string menuItem)
    {
        if ((string)ViewData["ActiveSubMenu"] == menuItem)
        {
            return "active";
        }

        return string.Empty;
    }
}

<div class="col-lg-3 col-md-12">
    <div class="card border-0 shadow mb-4">
        <div class="card-body">
            <div class="nav-wrapper position-relative">
                <ul class="nav nav-pills square nav-fill flex-column vertical-tab">
                    <li class="nav-item">
                        <a class="nav-link @IsActivePage("Edit")" asp-route="themesedit" asp-route-id="@Model.ThemeId">
                            <svg class="icon icon-sm mx-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"></path></svg>
                            Edit theme
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @IsActivePage("Web templates")" asp-route="webtemplatesindex" asp-route-themeId="@Model.ThemeId">
                            <svg class="icon icon-xs" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M9 17.25v1.007a3 3 0 01-.879 2.122L7.5 21h9l-.621-.621A3 3 0 0115 18.257V17.25m6-12V15a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 15V5.25m18 0A2.25 2.25 0 0018.75 3H5.25A2.25 2.25 0 003 5.25m18 0V12a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 12V5.25" />
                            </svg>
                            Web templates
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @IsActivePage("Media items")" asp-route="mediaitemsindex" asp-route-themeId="@Model.ThemeId">
                            <svg class="icon icon-xs" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                <path  stroke-linecap="round" stroke-linejoin="round" d="M19 7V13.8C19 14.9201 19 15.4802 18.782 15.908C18.5903 16.2843 18.2843 16.5903 17.908 16.782C17.4802 17 16.9201 17 15.8 17H12.2C11.0799 17 10.5198 17 10.092 16.782C9.71569 16.5903 9.40973 16.2843 9.21799 15.908C9 15.4802 9 14.9201 9 13.8V6.2C9 5.0799 9 4.51984 9.21799 4.09202C9.40973 3.71569 9.71569 3.40973 10.092 3.21799C10.5198 3 11.0799 3 12.2 3H15M19 7L15 3M19 7H16.6C16.0399 7 15.7599 7 15.546 6.89101C15.3578 6.79513 15.2049 6.64215 15.109 6.45399C15 6.24008 15 5.96005 15 5.4V3M5 7V14.6C5 16.8402 5 17.9603 5.43597 18.816C5.81947 19.5686 6.43139 20.1805 7.18404 20.564C8.03969 21 9.15979 21 11.4 21H15"/>
                            </svg>
                            Media items
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @IsActivePage("Export")" asp-route="themesexport" asp-route-id="@Model.ThemeId">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon icon-xs">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5m-13.5-9L12 3m0 0l4.5 4.5M12 3v13.5" />
                            </svg>
                            Export
                        </a>
                    </li>
                    <li class="nav-item" data-controller="shared--confirmaction" data-shared--confirmaction-title-value="Are you sure you want to delete this theme? This action cannot be undone.">
                        <form method="post" asp-route="themesdelete" asp-route-id="@Model.ThemeId" data-shared--confirmaction-target="form">
                            <button class="nav-link d-inline-flex align-items-center justify-content-center text-danger" data-action="click->shared--confirmaction#warning">
                                <svg class="icon icon-sm mx-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path></svg>
                                Delete theme
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
