@model ThemesImportFromUrl_ViewModel
@{
    ViewData["Title"] = "Themes > Import from url";
}

@(await Html.PartialAsync("_PageHeader", new PageHeader_ViewModel
{
    Title = ViewData["Title"].ToString(),
}))

<div class="row mb-4">
    <div class="col-xxl-7 col-xl-8 col-lg-9 col-md-12">
        <div class="card border-0 shadow mb-4">
            <div class="card-body">
                @(await Html.PartialAsync("_BackToList", new ThemesBackToList_ViewModel
                {
                    IsWebTemplates = false,
                    IsMediaItems = false,
                }))
                <form asp-route="themesimportfromurl" method="post" class="py-4" data-controller="shared--developername">
                    <div class="col-lg-12 col-md-12">
                        <div class="mb-3">
                            <label class="form-label raytha-required" asp-for="Title"></label>
                            <input type="text" class="form-control @Model.HasError("Title")" asp-for="Title"
                                   data-shared--developername-target="title"
                                   data-action="keyup->shared--developername#setDeveloperName change->shared--developername#setDeveloperName">
                            <div class="invalid-feedback">@Model.ErrorMessageFor("Title")</div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <div class="mb-3">
                            <label class="form-label raytha-required" asp-for="DeveloperName"></label>
                            <input type="text" class="form-control @Model.HasError("DeveloperName")" asp-for="DeveloperName" data-shared--developername-target="developername">
                            <div class="invalid-feedback">@Model.ErrorMessageFor("DeveloperName")</div>
                            <div class="form-text">You cannot change the developer name after it has been created.</div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <div class="mb-3">
                            <label class="form-label raytha-required" asp-for="Description"></label>
                            <input type="text" class="form-control @Model.HasError("Description")" asp-for="Description">
                            <div class="invalid-feedback">@Model.ErrorMessageFor("Description")</div>
                        </div>
                    </div>
                    <div class="col-lg-12 mt-2">
                        <div class="large-form-btn">
                            <label class="form-label raytha-required" asp-for="@Model.Url">Url</label>
                            <input type="text" class="form-control @Model.HasError("Url")" asp-for="Url" required>
                            <div class="invalid-feedback">@Model.ErrorMessageFor("Url")</div>
                        </div>
                    </div>
                    <hr/>
                    <div class="col-lg-12">
                        <button type="submit" class="btn btn-success">Import</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>