@model ThemesMatchingWebTemplates_ViewModel
@{
    ViewData["Title"] = "Themes > Set as active theme > Template matching";
}

@(await Html.PartialAsync("_PageHeader", new PageHeader_ViewModel
{
    Title = ViewData["Title"].ToString(),
}))

<div class="raytha-data-card mb-4 raytha-border-top">
    <div class="card-body">
        @(await Html.PartialAsync("_BackToList", new ThemesBackToList_ViewModel
        {
            IsWebTemplates = false,
            IsMediaItems = false,
        }))
        <form method="post" asp-route="themesmatchingwebtemplates" asp-route-id="@Model.ThemeId" class="py-4" >
            <div class="table-responsive">
                <table class="table mb-0 rounded">
                    <thead class="thead-light">
                    <tr>
                        <th class="border-0 rounded-start">Current Theme</th>
                        <th class="border-0 rounded-end">New Theme</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var activeThemeWebTemplateDeveloperName in Model.ActiveThemeWebTemplateDeveloperNames)
                    {
                        <tr>
                            <td>
                                <small>@activeThemeWebTemplateDeveloperName</small>
                            </td>
                            <td>
                                @{
                                    <select class="form-select" required asp-for="@Model.WebTemplateMappings[activeThemeWebTemplateDeveloperName]" asp-items="@(new SelectList(Model.NewActiveThemeWebTemplateDeveloperNames))">
                                        <option value="">--SELECT--</option>
                                    </select>
                                }
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
            <button type="submit" class="btn btn-success mt-4">Save</button>
        </form>
    </div>
</div>