@model WebTemplatesPagination_ViewModel
@{
    ViewData["Title"] = "Themes > Web templates";
    ViewData["ActiveSubMenu"] = "Web templates";
}

@section headstyles
{
    <style>
        table thead th:last-child {
            position: sticky;
            right: 0;
            z-index: 2;
            background-color: white;
        }

        table tbody td:last-child {
            position: sticky;
            right: 0;
            z-index: 2;
            background-color: white;
        }
    </style>
}

@(await Html.PartialAsync("_PageHeader", new PageHeader_ViewModel
{
    Title = ViewData["Title"].ToString(),
}))

<div class="row mb-4">
    <div class="col-xxl-7 col-xl-8 col-lg-9 col-md-12">
        <nav class="navbar navbar-expand-lg navbar-light raytha-view-nav raytha-border-top">
            <div class="container-fluid mx-2">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="btn btn-primary" aria-current="page" asp-route="webtemplatescreate" asp-route-themeId="@Model.ThemeId">
                                <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path></svg> 
                                Create web template
                            </a>
                        </li>
                    </ul>
                    <form class="d-flex" asp-route="webtemplatesindex" asp-route-themeId="@Model.ThemeId" method="get">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search" value="@Model.Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>

        <div class="raytha-data-card mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-centered table-nowrap mb-0 rounded">
                        <thead class="thead-light">
                        <tr>
                            @(await Html.PartialAsync("_TableColumnHeader", new TableColumnHeader_ViewModel
                            {
                                Model = Model,
                                PropertyName = "Label",
                                IsFirst = true,
                                DisplayName = ViewModelExtensions.GetDisplayName<WebTemplatesListItem_ViewModel>(p => p.Label)
                            }))
                            @(await Html.PartialAsync("_TableColumnHeader", new TableColumnHeader_ViewModel()
                            {
                                Model = Model,
                                PropertyName = "DeveloperName",
                                DisplayName = ViewModelExtensions.GetDisplayName<WebTemplatesListItem_ViewModel>(p => p.DeveloperName)
                            }))
                            @(await Html.PartialAsync("_TableColumnHeader", new TableColumnHeader_ViewModel()
                            {
                                Model = Model,
                                PropertyName = "LastModificationTime",
                                DisplayName = ViewModelExtensions.GetDisplayName<WebTemplatesListItem_ViewModel>(p => p.LastModificationTime)
                            }))
                            <th class="border-0">
                                Last modified by
                            </th>
                            <th class="border-0">
                                Parent template
                            </th>
                            @(await Html.PartialAsync("_TableColumnHeader", new TableColumnHeader_ViewModel()
                            {
                                Model = Model,
                                PropertyName = "IsBuiltInTemplate",
                                DisplayName = ViewModelExtensions.GetDisplayName<WebTemplatesListItem_ViewModel>(p => p.IsBuiltInTemplate)
                            }))
                            <th class="border-0 rounded-end">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td>@item.Label</td>
                                <td>@item.DeveloperName</td>
                                <td>@item.LastModificationTime</td>
                                <td>@item.LastModifierUser</td>
                                <td>
                                    @if (item.ParentTemplate != null)
                                    {
                                            <a asp-route="webtemplatesedit" asp-route-id="@item.Id" asp-route-themeId="@Model.ThemeId">@item.ParentTemplate.Label</a>
                                    }
                                    else
                                    {
                                        <text>N/A</text>
                                    }
                                </td>
                                <td>@item.IsBuiltInTemplate</td>
                                    <td><a asp-route="webtemplatesedit" asp-route-id="@item.Id" asp-route-themeId="@Model.ThemeId">Edit</a></td>
                            </tr>
                        }
                        </tbody>
                    </table>
                    <partial name="_TablePagination" model="@Model"/>
                </div>
            </div>
        </div>
    </div>
    @(await Html.PartialAsync("~/Areas/Admin/Views/Themes/_ActionsMenu.cshtml", new ThemesActionsMenu_ViewModel
    {
        ThemeId = Model.ThemeId,
    }))
</div>
