@inject IAuthorizationService AuthorizationService
@inject ICurrentOrganization CurrentOrganization
@inject ICurrentUser CurrentUser
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ISubActionViewModel
@{
    Layout = "SidebarLayout";
}

@functions {
    public string IsActivePage(string menuItem)
    {
        if ((string)ViewData["ActiveSubMenu"] == menuItem)
        {
            return "active";
        }
        return string.Empty;
    }
}

<div class="row mb-4">
    <partial name="_Partials/PageHeading" model='ViewData["Title"]' />
    <div class="col-xxl-7 col-xl-8 col-lg-9 col-md-12">
        <div class="card border-0 shadow mb-4">
            <div class="card-body">
                @RenderBody()
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-12">
        <div class="card border-0 shadow mb-4">
            <div class="card-body">
                <div class="nav-wrapper position-relative">
                    <ul class="nav nav-pills square nav-fill flex-column vertical-tab">
                        <li class="nav-item">
                            <a class="nav-link d-inline-flex align-items-center justify-content-center @IsActivePage("Edit")"
                                asp-page="@RouteNames.Themes.WidgetTemplates.Edit" asp-route-themeId="@Model.ThemeId"
                                asp-route-id="@Model.Id">
                                <svg class="icon icon-sm mx-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z">
                                    </path>
                                </svg>
                                Edit widget template
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @IsActivePage("Revisions")" asp-page="@RouteNames.Themes.WidgetTemplates.Revisions"
                                asp-route-themeId="@Model.ThemeId" asp-route-id="@Model.Id">
                                <svg class="icon icon-xs" xmlns="http://www.w3.org/2000/svg" fill="none"
                                    viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M9 17.25v1.007a3 3 0 01-.879 2.122L7.5 21h9l-.621-.621A3 3 0 0115 18.257V17.25m6-12V15a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 15V5.25m18 0A2.25 2.25 0 0018.75 3H5.25A2.25 2.25 0 003 5.25m18 0V12a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 12V5.25" />
                                </svg>
                                Revisions
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

@* Render Scripts section from child pages *@
@await RenderSectionAsync("Scripts", required: false)

