@page "/raytha/setup"
@model Raytha.Web.Areas.Admin.Pages.Setup.Index

@{
    Layout = "EmptyLayout";
}

<section class="mt-5 mt-lg-0 bg-soft d-flex align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-12 d-flex align-items-center justify-content-center py-4">
                <div class="card border-0 shadow mb-4">
                    <div class="card-body">
                        <div class="text-center text-md-center mb-4 mt-md-0">
                            <img class="col-6" src="~/raytha_admin/assets/img/color-no-background.svg" alt="logo" />
                            <h1 class="mb-0 mt-2 h3">Initial Setup</h1>
                        </div>
                        @if (ViewData["ErrorMessage"] != null)
                        {
                            <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert">
                                @ViewData["ErrorMessage"]
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        }
                        <form method="post" novalidate>
                            <h5>Super administrator account</h5>
                            <div class="row">
                                <div class="col">
                                    <div class="mb-3">
                                        <label class="form-label raytha-required"
                                            asp-for="@Model.Form.FirstName"></label>
                                        <input type="text" class="form-control @Model.HasError("FirstName")"
                                            asp-for="@Model.Form.FirstName" required>
                                        <div class="invalid-feedback">@Model.ErrorMessageFor("FirstName")</div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="mb-3">
                                        <label class="form-label raytha-required"
                                            asp-for="@Model.Form.LastName"></label>
                                        <input type="text" class="form-control @Model.HasError("LastName")"
                                            asp-for="@Model.Form.LastName" required>
                                        <div class="invalid-feedback">@Model.ErrorMessageFor("LastName")</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <label class="form-label raytha-required"
                                        asp-for="@Model.Form.SuperAdminEmailAddress"></label>
                                    <input type="email" class="form-control @Model.HasError(("SuperAdminEmailAddress"))"
                                        asp-for="@Model.Form.SuperAdminEmailAddress" required>
                                    <div class="invalid-feedback">@Model.ErrorMessageFor("SuperAdminEmailAddress")</div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <label class="form-label raytha-required"
                                        asp-for="@Model.Form.SuperAdminPassword"></label>
                                    <input type="password" class="form-control @Model.HasError("SuperAdminPassword")"
                                        asp-for="@Model.Form.SuperAdminPassword" required minlength="8">
                                    <div class="invalid-feedback">@Model.ErrorMessageFor("SuperAdminPassword")</div>
                                    <div class="form-text">Password must be at least 8 characters.</div>
                                </div>
                            </div>
                            <hr />
                            <h5>Basic configuration</h5>
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <label class="form-label raytha-required"
                                        asp-for="@Model.Form.OrganizationName"></label>
                                    <input type="text" class="form-control @Model.HasError("OrganizationName")"
                                        asp-for="@Model.Form.OrganizationName" required>
                                    <div class="invalid-feedback">@Model.ErrorMessageFor("OrganizationName")</div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <label class="form-label raytha-required" asp-for="@Model.Form.WebsiteUrl"></label>
                                    <input type="url" class="form-control @Model.HasError("WebsiteUrl")"
                                        asp-for="@Model.Form.WebsiteUrl" required>
                                    <div class="invalid-feedback">@Model.ErrorMessageFor("WebsiteUrl")</div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <label class="form-label raytha-required" asp-for="@Model.Form.TimeZone"></label>
                                    <select class="form-select @Model.HasError("TimeZone")"
                                        asp-for="@Model.Form.TimeZone"
                                        asp-items="@(new SelectList(Model.TimeZones, "Key", "Value"))" required>
                                    </select>
                                    <div class="invalid-feedback">@Model.ErrorMessageFor("TimeZone")</div>
                                </div>
                            </div>
                            <hr />
                            <h5>Default email settings</h5>
                            <p>When your platform sends emails, choose the name people see when they hit 'Reply' and the
                                email where the replies will land. It helps control the conversation flow when
                                recipients respond to your emails.</p>
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <label class="form-label raytha-required"
                                        asp-for="@Model.Form.SmtpDefaultFromName"></label>
                                    <input type="text" class="form-control @Model.HasError("SmtpDefaultFromName")"
                                        asp-for="@Model.Form.SmtpDefaultFromName" required
                                        aria-describedby="SmtpDefaultFromNameHelp">
                                    <div class="invalid-feedback">@Model.ErrorMessageFor("SmtpDefaultFromName")</div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <label class="form-label raytha-required"
                                        asp-for="@Model.Form.SmtpDefaultFromAddress"></label>
                                    <input type="email" class="form-control @Model.HasError("SmtpDefaultFromAddress")"
                                        asp-for="@Model.Form.SmtpDefaultFromAddress" required>
                                    <div class="invalid-feedback">@Model.ErrorMessageFor("SmtpDefaultFromAddress")</div>
                                </div>
                            </div>
                            <hr />
                            @if (Model.MissingSmtpEnvironmentVariables)
                            {
                                <h5>SMTP Settings (Optional)</h5>
                                <div class="alert alert-info mt-2" role="alert">
                                    The server administrator has not set SMTP environment variables (SMTP_HOST, SMTP_PORT,
                                    SMTP_USERNAME, SMTP_PASSWORD) on this host. You can set these options later via admin 
                                    configuration options if preferred.
                                </div>
                                <p>An SMTP server is required for the system to send password reset and confirmation emails.
                                </p>
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <label class="form-label" asp-for="@Model.Form.SmtpHost"></label>
                                        <input type="text" class="form-control @Model.HasError("SmtpHost")"
                                            asp-for="@Model.Form.SmtpHost">
                                        <div class="invalid-feedback">@Model.ErrorMessageFor("SmtpHost")</div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="mb-3">
                                        <label class="form-label" asp-for="@Model.Form.SmtpPort"></label>
                                        <input type="number" class="form-control @Model.HasError("SmtpPort")"
                                            asp-for="@Model.Form.SmtpPort" max="65535">
                                        <div class="invalid-feedback">@Model.ErrorMessageFor("SmtpPort")</div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <label class="form-label" asp-for="@Model.Form.SmtpUsername"></label>
                                        <input type="text" class="form-control @Model.HasError("SmtpUsername")"
                                            asp-for="@Model.Form.SmtpUsername">
                                        <div class="invalid-feedback">@Model.ErrorMessageFor("SmtpUsername")</div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <label class="form-label" asp-for="@Model.Form.SmtpPassword"></label>
                                        <input type="password" class="form-control @Model.HasError("SmtpPassword")"
                                            asp-for="@Model.Form.SmtpPassword">
                                        <div class="invalid-feedback">@Model.ErrorMessageFor("SmtpPassword")</div>
                                    </div>
                                </div>
                            }
                            <button type="submit" class="btn btn-success mt-4">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>